Repository Araq/Nim, changes with the owners that .github/CODEOWNERS names for each.
All owners: @araq, @dom96, @GULPF, @flaviu, @krux02, @cooldome

.github/CODEOWNERS:

# github CODEOWNERS file
# syntax: https://help.github.com/articles/about-codeowners/
# related discussion: [how to increase velocity for merging PRs? - Nim forum](https://forum.nim-lang.org/t/4285)
#
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence to determine who will be requested for review for a PR.
#
# Note: This list is incomplete, in doubt @dom96 is responsible for the standard
# library, @araq is responsible for the compiler.

## global
* @araq

## Compiler

## Standard library
*async* @dom96
*strutils* @araq
*sequtils* @dom96 @araq
*times* @GULPF

os.nim @dom96 @araq
ospaths.nim @dom96 @araq
re.nim @araq
nre.nim @flaviu

math.nim @krux02 @cooldome
fenv.nim @krux02 @cooldome

collections @GULPF
*json*.nim @dom96
*parseopt* @araq

###################################################
## informal entries not easily mapped to CODEOWNERS

## Compiler

#Renderer:                       @cooldome, @araq
#Parsing, Lexing:                @araq
#Order of passes:                @cooldome
#Semantic Checking:              @araq
#Virtual machine:                @jangko @GULPF @araq
#Sempass2: effects tracking:     @cooldome @araq
#type system, concepts:          @zahary
#transf:                         @cooldome @araq
#semfold constant folding:       @araq
#template instantiation:         @zahary @araq
#term rewriting macros:          @cooldome @araq
#closure interators:             @yglukhov @araq
#lambda lifting:                 @yglukhov @araq
#c, cpp codegen:                 @lemonboy @araq
#js codegen:                     @yglukhov @lemonboy
#alias analysis:                 @araq
#dfa, writetracking:             @araq
#parallel, multithreading:       @araq
#incremental:                    @araq
#sizeof computations:            @krux02
#Exception handling:             @cooldome @araq

## Standard library

# io: @dom96
# garbage collector: @araq
# Go garbage collector: @stefantalpalaru
# coroutines:  @rokups

Be consistent
  compiler/docgen.nim
Owners: @araq

Add line into docs
  changelog.md
  compiler/options.nim
  doc/advopt.txt
Owners: @araq

Just a final check to make sure it works with lines
  tests/misc/mrawjson.nim
  tests/misc/trunner.nim
Owners: @dom96, @araq

Make help message clearer
  doc/advopt.txt
Owners: @araq

adds `--legacy:noAsmSemSymbol`
  changelog.md
  compiler/condsyms.nim
  compiler/nim.cfg
  compiler/options.nim
  compiler/pragmas.nim
  tests/config.nims
Owners: @araq

Add test case
  changelog.md
  compiler/commands.nim
  compiler/options.nim
  compiler/pipelines.nim
  tests/tools/tloadstdin.nim
  tests/tools/tloadstdin.nims
Owners: @araq

Fix test and syntax issue
  compiler/options.nim
  tests/tools/tloadstdin.nim
Owners: @araq

docs: fix typos
  compiler/isolation_check.nim
  compiler/semtypinst.nim
  doc/backends.md
  doc/manual.md
Owners: @araq

Support tuple parameter types
  lib/std/tasks.nim
Owners: @araq

Consider iterator types
  lib/core/macros.nim
Owners: @araq

Update changelog_0_18_1.md
  changelogs/changelog_0_18_1.md
Owners: @araq

Update changelog_1_0_2.md
  changelogs/changelog_1_0_2.md
Owners: @araq

Add another test
  tests/tools/tloadstdin.nim
Owners: @araq

Enable abi checks by default
  compiler/ccgtypes.nim
  doc/nimc.md
Owners: @araq

varints: no need for emit
  lib/std/varints.nim
Owners: @araq

simplify code
  lib/std/varints.nim
Owners: @araq

fix c_memchr, c_strstr definitions
  lib/pure/memfiles.nim
  lib/pure/strutils.nim
  lib/std/formatfloat.nim
  lib/std/private/strimpl.nim
  lib/std/syncio.nim
  lib/system/ansi_c.nim
Owners: @araq

reuse `posix` declarations in syncio
  lib/std/syncio.nim
Owners: @araq

avoid cyclic imports
  lib/posix/posix.nim
  lib/std/syncio.nim
Owners: @araq

FileHandle
  lib/posix/posix.nim
Owners: @araq

memory_order size
  lib/pure/concurrency/atomics.nim
Owners: @araq

avoid sigabrt error
  lib/system/ansi_c.nim
Owners: @araq

oops
  lib/std/varints.nim
Owners: @araq

fix(test): Replace check by doAssert
  tests/stdlib/tmath.nim
Owners: @araq

docs(cumprod): Fix documentation
  lib/pure/math.nim
Owners: @krux02, @cooldome

fix(cumproded): fix use explicit initialization of 'result' for clarity
  lib/pure/math.nim
Owners: @krux02, @cooldome

Update copyright year
  compiler/options.nim
  copying.txt
  readme.md
Owners: @araq

Disable test on windwos
  compiler/commands.nim
  tests/tools/tloadstdin.nim
Owners: @araq

Add back in the file check for cmdfile
  compiler/pipelines.nim
Owners: @araq

Update changelog_2_0_0.md
  changelogs/changelog_2_0_0.md
Owners: @araq

Update changelog_1_0_0.md
  changelogs/changelog_1_0_0.md
Owners: @araq

fixes #24599; misleading error message with large array bounds
  compiler/semtypes.nim
Owners: @araq

make tsan happy with running(thr: Thread): bool
  lib/std/private/threadtypes.nim
  lib/std/typedthreads.nim
  lib/system/threadimpl.nim
Owners: @araq

report error to user
  compiler/injectdestructors.nim
Owners: @araq

report error to user
  compiler/injectdestructors.nim
Owners: @araq

fix copy and paste, forget if
  compiler/injectdestructors.nim
Owners: @araq

async error tracking
  lib/pure/asyncfutures.nim
  lib/pure/asyncmacro.nim
  tests/async/tasync_error_tracking.nim
Owners: @dom96

error typed result
  lib/pure/asyncfutures.nim
  lib/pure/asyncmacro.nim
Owners: @dom96

new approach
  lib/pure/asyncfutures.nim
  lib/pure/asyncmacro.nim
  nimdoc/testproject/expected/testproject.html
  tests/async/tasync_error_tracking.nim
Owners: @dom96, @araq

dead end
  lib/pure/asyncfutures.nim
  lib/pure/asyncmacro.nim
  tests/async/tasync_error_tracking.nim
Owners: @dom96
