Repository Araq/Nim, changes with the owners that .github/CODEOWNERS names for each.
All owners: @araq, @dom96, @GULPF, @flaviu, @krux02, @cooldome

.github/CODEOWNERS:

# github CODEOWNERS file
# syntax: https://help.github.com/articles/about-codeowners/
# related discussion: [how to increase velocity for merging PRs? - Nim forum](https://forum.nim-lang.org/t/4285)
#
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence to determine who will be requested for review for a PR.
#
# Note: This list is incomplete, in doubt @dom96 is responsible for the standard
# library, @araq is responsible for the compiler.

## global
* @araq

## Compiler

## Standard library
*async* @dom96
*strutils* @araq
*sequtils* @dom96 @araq
*times* @GULPF

os.nim @dom96 @araq
ospaths.nim @dom96 @araq
re.nim @araq
nre.nim @flaviu

math.nim @krux02 @cooldome
fenv.nim @krux02 @cooldome

collections @GULPF
*json*.nim @dom96
*parseopt* @araq

###################################################
## informal entries not easily mapped to CODEOWNERS

## Compiler

#Renderer:                       @cooldome, @araq
#Parsing, Lexing:                @araq
#Order of passes:                @cooldome
#Semantic Checking:              @araq
#Virtual machine:                @jangko @GULPF @araq
#Sempass2: effects tracking:     @cooldome @araq
#type system, concepts:          @zahary
#transf:                         @cooldome @araq
#semfold constant folding:       @araq
#template instantiation:         @zahary @araq
#term rewriting macros:          @cooldome @araq
#closure interators:             @yglukhov @araq
#lambda lifting:                 @yglukhov @araq
#c, cpp codegen:                 @lemonboy @araq
#js codegen:                     @yglukhov @lemonboy
#alias analysis:                 @araq
#dfa, writetracking:             @araq
#parallel, multithreading:       @araq
#incremental:                    @araq
#sizeof computations:            @krux02
#Exception handling:             @cooldome @araq

## Standard library

# io: @dom96
# garbage collector: @araq
# Go garbage collector: @stefantalpalaru
# coroutines:  @rokups

fixes `compile` crashes with one parameter
  compiler/pragmas.nim
Owners: @araq

Optimize arrayWith with the noinit pragma
  lib/system.nim
Owners: @araq

Optimize storing in uninit locations using =dup and .nodestroy pragma
  lib/system.nim
  lib/system/seqs_v2.nim
Owners: @araq

try to fix koch boot
  lib/system.nim
  lib/system/seqs_v2.nim
Owners: @araq

revert `strictDefs` as the default
  compiler/condsyms.nim
  compiler/nim.cfg
  compiler/options.nim
  compiler/semexprs.nim
  compiler/sempass2.nim
  compiler/semstmts.nim
  compiler/sigmatch.nim
  config/config.nims
  tests/msgs/twarningaserror.nim
Owners: @araq

Update
  lib/std/private/threadtypes.nim
  lib/std/typedthreads.nim
  lib/system/threadimpl.nim
Owners: @araq

Update typedthreads.nim
  lib/std/typedthreads.nim
Owners: @araq

Update typedthreads.nim
  lib/std/typedthreads.nim
Owners: @araq

Fix breakage from optimization
  lib/system.nim
  lib/system/seqs_v2.nim
Owners: @araq

undo seems more complicated
  lib/system.nim
Owners: @araq

test case
  tests/arc/tdup_nodestroy.nim
Owners: @araq

improve test
  tests/arc/tnodestroy.nim
Owners: @araq

OS module works in a macro when compiling for non-OS supporting target
  lib/pure/os.nim
  lib/std/cmdline.nim
  lib/std/private/oscommon.nim
  lib/std/private/osdirs.nim
  lib/std/private/osfiles.nim
  lib/std/private/ospaths2.nim
  lib/std/private/ossymlinks.nim
Owners: @dom96, @araq

debug
  compiler/ccgexprs.nim
Owners: @araq

Try a fix
  compiler/ccgexprs.nim
  compiler/sempass2.nim
Owners: @araq

generate destructor in nodestroy proc for explicit destructor call
  compiler/sempass2.nim
  tests/arc/tnodestroyexplicithook.nim
Owners: @araq

`foldl`: support openArray
  lib/pure/collections/sequtils.nim
Owners: @GULPF

OS module works and now hides the functions that won't work
  compiler/vmops.nim
  lib/pure/os.nim
  lib/std/cmdline.nim
  lib/std/private/oscommon.nim
  lib/std/private/osdirs.nim
  lib/std/private/osfiles.nim
  lib/std/private/ospaths2.nim
  lib/std/private/ossymlinks.nim
  lib/std/staticos.nim
Owners: @araq, @dom96

Improve documentation for staticWalkDir
  lib/std/staticos.nim
Owners: @araq

ignore match errors to expected types of tuple constructor elements (#24611)
  compiler/semexprs.nim
  tests/tuples/ttupleconverter.nim
Owners: @araq

fixes `compile` crashes with one parameter (#24618)
  compiler/pragmas.nim
Owners: @araq

Optimize storing into uninit locations for arrays and seqs. (#24619)
  lib/system.nim
  lib/system/seqs_v2.nim
Owners: @araq

generate destructor in nodestroy proc for explicit destructor call (#24627)
  compiler/sempass2.nim
  tests/arc/tnodestroyexplicithook.nim
Owners: @araq

fix for test cases
  lib/pure/collections/sequtils.nim
Owners: @GULPF

test using type node for object constr type
  compiler/semobjconstr.nim
  tests/template/tgenericobjconstr.nim
Owners: @araq

test using type node for object constr type
  compiler/semobjconstr.nim
  tests/template/tgenericobjconstr.nim
Owners: @araq

just ignore in transf, fix cast too
  compiler/semobjconstr.nim
  compiler/transf.nim
  tests/template/tgenericobjconstr.nim
Owners: @araq

bump NimVersion to 2.0.15
  lib/system/compilation.nim
Owners: @araq

generate destructor in nodestroy proc for explicit destructor call (#24627)
  compiler/sempass2.nim
  tests/arc/tnodestroyexplicithook.nim
Owners: @araq

stricter skip for conversions in array indices in transf (#24424)
  compiler/transf.nim
  tests/array/tindexconv.nim
  tests/array/tinvalidarrayaccess.nim
  tests/array/tinvalidarrayaccess2.nim
  tests/js/tindexdefect.nim
Owners: @araq

ci: update to ubuntu 22.04 (#24608)
  .github/workflows/ci_docs.yml
  .github/workflows/ci_packages.yml
  .github/workflows/ci_publish.yml
Owners: @araq

fix chronos failure
  compiler/transf.nim
Owners: @araq

disable sfml test on osx (#24615)
  tests/niminaction/Chapter8/sfml/sfml_test.nim
Owners: @araq

fixes #24630; static openArray backed by seq cannot be passed to another function
  compiler/vmgen.nim
  tests/vm/topenarrays.nim
Owners: @araq

Added back missing supportedSystem check
  lib/pure/os.nim
Owners: @dom96, @araq

size pragma only allowed for objects and enums
  compiler/semstmts.nim
Owners: @araq

imported objects
  compiler/semstmts.nim
Owners: @araq

progress
  compiler/semstmts.nim
Owners: @araq

oops
  compiler/semstmts.nim
Owners: @araq

fixes #24641; `quote do` captures no variables under current macros
  compiler/semexprs.nim
Owners: @araq
