Repository Araq/Nim, changes with the owners that .github/CODEOWNERS names for each.
All owners: @araq, @dom96, @GULPF, @flaviu, @krux02, @cooldome

`std/nre` now uses destructors instead of finializer (#24353)
  lib/impure/nre.nim
Owners: @flaviu

adds noise to important_packages (#24352)
  testament/important_packages.nim
Owners: @araq

define flexible array without size for tcc & all C99 (#24355)
  lib/nimbase.h
Owners: @araq

implement type bound operation RFC (#24315)
  changelog.md
  compiler/options.nim
  compiler/semcall.nim
  compiler/sigmatch.nim
  compiler/types.nim
  doc/manual_experimental.md
  tests/config.nims
  tests/sandwich/config.nims
  tests/sandwich/mcontext_thread_local.nim
  tests/sandwich/mdollar1.nim
  tests/sandwich/mdollar2.nim
  tests/sandwich/mdollar3.nim
  tests/sandwich/mfiles.nim
  tests/sandwich/mhandles.nim
  tests/sandwich/mitems.nim
  tests/sandwich/mlistdeques.nim
  tests/sandwich/mobjhash.nim
  tests/sandwich/mqueuecontainer.nim
  tests/sandwich/msetin.nim
  tests/sandwich/msetiter1.nim
  tests/sandwich/msetiter2.nim
  tests/sandwich/mtasks.nim
  tests/sandwich/tcontext_thread_local.nim
  tests/sandwich/tdollar.nim
  tests/sandwich/tfilehandles.nim
  tests/sandwich/titems.nim
  tests/sandwich/tobjhash.nim
  tests/sandwich/tqueuecontainer.nim
  tests/sandwich/tsethash.nim
  tests/sandwich/tsetin.nim
  tests/sandwich/tsetiter1.nim
  tests/sandwich/tsetiter2.nim
Owners: @araq

fixes #23952; Size/Signedness issues with unordered enums (#24356)
  compiler/semtypes.nim
  tests/enum/tenum.nim
Owners: @araq

consider calls as complex openarray assignment to iterator params (#24333)
  compiler/transf.nim
  tests/iter/titeropenarray.nim
Owners: @araq

deprecate `NewFinalize` with the ref T finalizer (#24354)
  compiler/semmagic.nim
  compiler/semstmts.nim
  lib/system.nim
  tests/arc/tarcmisc.nim
Owners: @araq

fixes #18081; fixes #18079; fixes #18080; nested ref/deref'd types (#24335)
  compiler/ccgexprs.nim
  compiler/jsgen.nim
  compiler/transf.nim
  tests/ccgbugs/t13062.nim
Owners: @araq

Fix links for succ/pred/inc/dec in system docs (#24363)
  lib/system_overview.rst
Owners: @araq

don't cascade vmgen errors in nim check without error outputs (#24365)
  compiler/vmgen.nim
Owners: @araq

include static types in type bound ops (#24366)
  compiler/types.nim
  tests/sandwich/mstatic.nim
  tests/sandwich/tstatic.nim
Owners: @araq

fixes #24359; VM problem: dest register is not set with const-bound proc (#24364)
  compiler/semexprs.nim
  tests/vm/tconstprocassignments.nim
Owners: @araq

improve passes.nim (#24376)
  compiler/passes.nim
Owners: @araq

fixes #23545; C compiler error when default initializing an object field function (#24375)
  compiler/semtypes.nim
  tests/objects/tobject_default_value.nim
Owners: @araq

fixes #24379; better error messages for ill-formed type symbols from macros (#24380)
  compiler/semexprs.nim
Owners: @araq

implement generic default values for object fields (#24384)
  compiler/sem.nim
  compiler/semdata.nim
  compiler/semtypes.nim
  compiler/semtypinst.nim
  tests/objects/tgenericdefaultvalue.nim
Owners: @araq

disable Test on aarch64 (#24389)
  tests/compiler/tasm.nim
Owners: @araq

fixes #24371; incorrect importc wrapper incompatible with gcc 14 on Windows (#24388)
  lib/windows/winlean.nim
Owners: @araq

fixes #24378; supportsCopyMem can fail from macro context with tuples (#24383)
  compiler/ast.nim
  tests/metatype/ttypetraits.nim
Owners: @araq

trigger package CI for version-2-2 (#24393)
  .github/workflows/ci_packages.yml
Owners: @araq

azure-pipelines update to ubuntu 24.04 gcc 14 (#24386)
  .github/workflows/ci_gcc14.yml
  azure-pipelines.yml
Owners: @araq

fixes #24395; remove ndi (#24396)
  compiler/ccgtypes.nim
  compiler/cgen.nim
  compiler/cgendata.nim
  compiler/ndi.nim
Owners: @araq

improve httpclient docuementation (#24398)
  lib/pure/httpclient.nim
Owners: @araq

std/parsesql: Fix JOIN parsing (#22890)
  lib/pure/parsesql.nim
  tests/stdlib/tparsesql.nim
Owners: @araq

disable all badssl tests indefinitely (#24403)
  tests/untestable/thttpclient_ssl_disabled.nim
  tests/untestable/thttpclient_ssl_env_var.nim
  tests/untestable/thttpclient_ssl_remotenetwork.nim
Owners: @araq

disable sfml test on osx (#24615)
  tests/niminaction/Chapter8/sfml/sfml_test.nim
Owners: @araq

fixes strictdefs with `when nimvm` (#24409)
  compiler/sempass2.nim
  tests/init/tlet.nim
Owners: @araq

fix standalone explicit generic procs with unresolved arguments (#24404)
  compiler/semcall.nim
  compiler/semexprs.nim
  tests/proc/texplicitgenerics.nim
Owners: @araq

skip tyAlias in generic alias checks [backport:2.0] (#24417)
  compiler/types.nim
  tests/overload/tgenericalias.nim
Owners: @araq

gensym anonymous proc symbols (#24422)
  compiler/semstmts.nim
  tests/proc/tanonprocresem.nim
Owners: @araq

Fixes #24369 (#24370)
  compiler/sem.nim
  lib/system.nim
  tests/system/tcopyprotected_arrayinit.nim
Owners: @araq

stricter skip for conversions in array indices in transf (#24424)
  compiler/transf.nim
  tests/array/tindexconv.nim
  tests/array/tinvalidarrayaccess.nim
  tests/array/tinvalidarrayaccess2.nim
  tests/js/tindexdefect.nim
Owners: @araq

fix jsonutils macro with generic case object (#24429)
  lib/std/jsonutils.nim
  tests/stdlib/tjsonutils.nim
Owners: @dom96

fix subtype match of generic object types (#24430)
  compiler/sigmatch.nim
  compiler/types.nim
  tests/objects/tgenericsubtype.nim
Owners: @araq

fixes #24402; Memory leak under Arc/Orc on inline iterators with nested seq (#24419)
  compiler/transf.nim
  tests/arc/t24402.nim
Owners: @araq

adds some test cases (#24436)
  tests/generics/t23854.nim
Owners: @araq

fix wrong error for iterators with no body and pragma macro (#24440)
  compiler/semstmts.nim
  tests/pragmas/titeratormacro.nim
Owners: @araq

prevent codegen of inactive case fields in VM object constructor nodes (#24442)
  compiler/ccgexprs.nim
  compiler/semmacrosanity.nim
  tests/vm/tcaseobj.nim
Owners: @araq

always reinstantiate nominal values of generic instantiations (#24425)
  compiler/ast.nim
  compiler/liftdestructors.nim
  compiler/semstmts.nim
  compiler/semtypinst.nim
  compiler/types.nim
  tests/arc/tphantomgeneric1.nim
  tests/arc/tphantomgeneric2.nim
  tests/destructor/tinvalid_rebind_nonempty.nim
Owners: @araq

remove structural equality check for objects and distinct types (#24448)
  compiler/types.nim
  tests/objects/tgenericsubtype.nim
Owners: @araq

.github/CODEOWNERS:

# github CODEOWNERS file
# syntax: https://help.github.com/articles/about-codeowners/
# related discussion: [how to increase velocity for merging PRs? - Nim forum](https://forum.nim-lang.org/t/4285)
#
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence to determine who will be requested for review for a PR.
#
# Note: This list is incomplete, in doubt @dom96 is responsible for the standard
# library, @araq is responsible for the compiler.

## global
* @araq

## Compiler

## Standard library
*async* @dom96
*strutils* @araq
*sequtils* @dom96 @araq
*times* @GULPF

os.nim @dom96 @araq
ospaths.nim @dom96 @araq
re.nim @araq
nre.nim @flaviu

math.nim @krux02 @cooldome
fenv.nim @krux02 @cooldome

collections @GULPF
*json*.nim @dom96
*parseopt* @araq

###################################################
## informal entries not easily mapped to CODEOWNERS

## Compiler

#Renderer:                       @cooldome, @araq
#Parsing, Lexing:                @araq
#Order of passes:                @cooldome
#Semantic Checking:              @araq
#Virtual machine:                @jangko @GULPF @araq
#Sempass2: effects tracking:     @cooldome @araq
#type system, concepts:          @zahary
#transf:                         @cooldome @araq
#semfold constant folding:       @araq
#template instantiation:         @zahary @araq
#term rewriting macros:          @cooldome @araq
#closure interators:             @yglukhov @araq
#lambda lifting:                 @yglukhov @araq
#c, cpp codegen:                 @lemonboy @araq
#js codegen:                     @yglukhov @lemonboy
#alias analysis:                 @araq
#dfa, writetracking:             @araq
#parallel, multithreading:       @araq
#incremental:                    @araq
#sizeof computations:            @krux02
#Exception handling:             @cooldome @araq

## Standard library

# io: @dom96
# garbage collector: @araq
# Go garbage collector: @stefantalpalaru
# coroutines:  @rokups
