Repository Araq/Nim, changes with the owners that .github/CODEOWNERS names for each.
All owners: @araq, @dom96, @GULPF, @flaviu, @krux02, @cooldome

.github/CODEOWNERS:

# github CODEOWNERS file
# syntax: https://help.github.com/articles/about-codeowners/
# related discussion: [how to increase velocity for merging PRs? - Nim forum](https://forum.nim-lang.org/t/4285)
#
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence to determine who will be requested for review for a PR.
#
# Note: This list is incomplete, in doubt @dom96 is responsible for the standard
# library, @araq is responsible for the compiler.

## global
* @araq

## Compiler

## Standard library
*async* @dom96
*strutils* @araq
*sequtils* @dom96 @araq
*times* @GULPF

os.nim @dom96 @araq
ospaths.nim @dom96 @araq
re.nim @araq
nre.nim @flaviu

math.nim @krux02 @cooldome
fenv.nim @krux02 @cooldome

collections @GULPF
*json*.nim @dom96
*parseopt* @araq

###################################################
## informal entries not easily mapped to CODEOWNERS

## Compiler

#Renderer:                       @cooldome, @araq
#Parsing, Lexing:                @araq
#Order of passes:                @cooldome
#Semantic Checking:              @araq
#Virtual machine:                @jangko @GULPF @araq
#Sempass2: effects tracking:     @cooldome @araq
#type system, concepts:          @zahary
#transf:                         @cooldome @araq
#semfold constant folding:       @araq
#template instantiation:         @zahary @araq
#term rewriting macros:          @cooldome @araq
#closure interators:             @yglukhov @araq
#lambda lifting:                 @yglukhov @araq
#c, cpp codegen:                 @lemonboy @araq
#js codegen:                     @yglukhov @lemonboy
#alias analysis:                 @araq
#dfa, writetracking:             @araq
#parallel, multithreading:       @araq
#incremental:                    @araq
#sizeof computations:            @krux02
#Exception handling:             @cooldome @araq

## Standard library

# io: @dom96
# garbage collector: @araq
# Go garbage collector: @stefantalpalaru
# coroutines:  @rokups

detect async procs
  lib/pure/asyncmacro.nim
  tests/async/tasync_error_tracking.nim
Owners: @dom96

change running to take var, otherwise we might get a copy?
  lib/std/typedthreads.nim
Owners: @araq

fixes #24604; importc fails to generate stub type
  compiler/ccgtypes.nim
  tests/ccgbugs/tctypes.nim
Owners: @araq

fixes types with a header
  compiler/ccgtypes.nim
Owners: @araq

oops
  compiler/ccgtypes.nim
Owners: @araq

fixes macos
  lib/std/sysrand.nim
Owners: @araq

use nodecl
  lib/system/dyncalls.nim
Owners: @araq

fixes tests
  tests/arc/t14472.nim
  tests/ccgbugs/tcgbug.nim
  tests/cpp/tget_subsystem.nim
  tests/misc/msizeof5.nim
  tests/misc/tsizeof.nim
  tests/overload/tstatic_with_converter.nim
Owners: @araq

uses nodecl
  tests/niminaction/Chapter8/sfml/sfml.nim
Owners: @araq

Update changelog_1_2_0.md
  changelogs/changelog_1_2_0.md
Owners: @araq

ci: update to ubuntu 22.04
  .github/workflows/ci_docs.yml
  .github/workflows/ci_packages.yml
  .github/workflows/ci_publish.yml
Owners: @araq

adds a changelog
  changelog.md
Owners: @araq

ignore match errors to expected types of tuple constructor elements
  compiler/semexprs.nim
  tests/tuples/ttupleconverter.nim
Owners: @araq

Fixes for typedthreads data race issues
  lib/std/private/threadtypes.nim
  lib/std/typedthreads.nim
  lib/system/threadimpl.nim
Owners: @araq

Update typedthreads.nim
  lib/std/typedthreads.nim
Owners: @araq

fixed type mismatch errors to work with Boehm
  lib/std/typedthreads.nim
  lib/system/threadimpl.nim
Owners: @araq

install sfml 2 on osx
  azure-pipelines.yml
Owners: @araq

disable sfml test on osx
  tests/niminaction/Chapter8/sfml/sfml_test.nim
Owners: @araq

Update threadimpl.nim
  lib/system/threadimpl.nim
Owners: @araq

improve error messages for illegalCapture (#24214)
  compiler/lambdalifting.nim
Owners: @araq

bump NimVersion to 2.2.1 (#24215)
  lib/system/compilation.nim
Owners: @araq

don't construct array type for already typed `nkBracket` node (#24224)
  compiler/semexprs.nim
  tests/vm/tconstarrayresem.nim
Owners: @araq

don't typecheck `untyped` + allow void `typed` template param default values (#24219)
  compiler/semtypes.nim
  tests/template/tdefaultparam.nim
Owners: @araq

stricter set type match, implicit conversion for literals (#24176)
  compiler/lineinfos.nim
  compiler/sem.nim
  compiler/sigmatch.nim
  tests/sets/trangeincompatible.nim
  tests/sets/twrongenumrange.nim
Owners: @araq

Update sequtils.nim authors (#24238)
  lib/pure/collections/sequtils.nim
Owners: @GULPF

update minimum recommended gcc version and fix manual typos (#24240)
  doc/manual.md
  readme.md
Owners: @araq

update CI to macos 13 (#24157)
  .github/workflows/ci_docs.yml
  .github/workflows/ci_packages.yml
  azure-pipelines.yml
  doc/manual.md
  testament/categories.nim
  testament/important_packages.nim
  tests/closure/tboehmdeepcopy.nim
  tests/cpp/temitlist.nim
  tests/cpp/tempty_generic_obj.nim
  tests/cpp/tmanual_exception.nim
  tests/exception/tcpp_imported_exc.nim
Owners: @araq

make new concepts match themselves (#24244)
  compiler/sigmatch.nim
  tests/concepts/tintypesection.nim
Owners: @araq

delay markUsed for converters until call is resolved (#24243)
  compiler/sem.nim
  compiler/semcall.nim
  compiler/semexprs.nim
  compiler/sigmatch.nim
  tests/converter/tdeprecatedconverter.nim
Owners: @araq

`-d:nimPreviewFloatRoundtrip` becomes the default (#24217)
  changelog.md
  compiler/nim.cfg
  lib/std/formatfloat.nim
  testament/important_packages.nim
  tests/config.nims
  tests/float/tfloats.nim
Owners: @araq

refactor to make sigmatch use LayeredIdTable for bindings (#24216)
  compiler/concepts.nim
  compiler/layeredtable.nim
  compiler/sem.nim
  compiler/semcall.nim
  compiler/semdata.nim
  compiler/semexprs.nim
  compiler/seminst.nim
  compiler/semstmts.nim
  compiler/semtypinst.nim
  compiler/sigmatch.nim
Owners: @araq

enable `nimExperimentalLinenoiseExtra` (#24227)
  lib/wrappers/linenoise/linenoise.nim
  tests/config.nims
  tools/kochdocs.nim
Owners: @araq

exports more helpers that are needed by nif-gear2 (#24247)
  compiler/pipelines.nim
Owners: @araq

reset `inTypeofContext` in generic instantiations (#24229)
  compiler/seminst.nim
  tests/vm/tgenericcompiletimeproc.nim
Owners: @araq

process non-language pragma nodes in templates (#24183)
  compiler/semtempl.nim
  compiler/trees.nim
  tests/template/tpragma.nim
Owners: @araq

give int literals matched type on generic match (#24234)
  compiler/sigmatch.nim
  tests/generics/t14193.nim
  tests/js/tint64litgen.nim
Owners: @araq

improves the 2.2.0 changelog (#24256)
  changelogs/changelog_2_2_0.md
Owners: @araq

Change how to multiply 1.5 to ints to reduce overflow (#24257)
  lib/pure/base64.nim
  lib/pure/collections/hashcommon.nim
  lib/pure/nimprof.nim
  lib/system/cellseqs_v1.nim
  lib/system/cellseqs_v2.nim
  lib/system/cellsets.nim
  lib/system/orc.nim
  lib/system/strs_v2.nim
  lib/system/sysstr.nim
Owners: @araq, @GULPF

process non-language pragma nodes in generics (#24254)
  compiler/semgnrc.nim
  tests/generics/mpragma1.nim
  tests/generics/mpragma2.nim
  tests/generics/tpragma.nim
Owners: @araq

fixes obsolete documentations about the JS backend (#24263)
  doc/backends.md
Owners: @araq
