Repository Araq/Nim, changes with the owners that .github/CODEOWNERS names for each.
All owners: @araq, @dom96, @GULPF, @flaviu, @krux02, @cooldome

.github/CODEOWNERS:

# github CODEOWNERS file
# syntax: https://help.github.com/articles/about-codeowners/
# related discussion: [how to increase velocity for merging PRs? - Nim forum](https://forum.nim-lang.org/t/4285)
#
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence to determine who will be requested for review for a PR.
#
# Note: This list is incomplete, in doubt @dom96 is responsible for the standard
# library, @araq is responsible for the compiler.

## global
* @araq

## Compiler

## Standard library
*async* @dom96
*strutils* @araq
*sequtils* @dom96 @araq
*times* @GULPF

os.nim @dom96 @araq
ospaths.nim @dom96 @araq
re.nim @araq
nre.nim @flaviu

math.nim @krux02 @cooldome
fenv.nim @krux02 @cooldome

collections @GULPF
*json*.nim @dom96
*parseopt* @araq

###################################################
## informal entries not easily mapped to CODEOWNERS

## Compiler

#Renderer:                       @cooldome, @araq
#Parsing, Lexing:                @araq
#Order of passes:                @cooldome
#Semantic Checking:              @araq
#Virtual machine:                @jangko @GULPF @araq
#Sempass2: effects tracking:     @cooldome @araq
#type system, concepts:          @zahary
#transf:                         @cooldome @araq
#semfold constant folding:       @araq
#template instantiation:         @zahary @araq
#term rewriting macros:          @cooldome @araq
#closure interators:             @yglukhov @araq
#lambda lifting:                 @yglukhov @araq
#c, cpp codegen:                 @lemonboy @araq
#js codegen:                     @yglukhov @lemonboy
#alias analysis:                 @araq
#dfa, writetracking:             @araq
#parallel, multithreading:       @araq
#incremental:                    @araq
#sizeof computations:            @krux02
#Exception handling:             @cooldome @araq

## Standard library

# io: @dom96
# garbage collector: @araq
# Go garbage collector: @stefantalpalaru
# coroutines:  @rokups

Fix exitnow signature, mark as .noreturn (#24533)
  lib/posix/posix.nim
Owners: @araq

adds a test case (#24534)
  tests/ccgbugs/tccgissues.nim
Owners: @araq

couple cases of valid concept bindings (#24513)
  compiler/concepts.nim
  compiler/sigmatch.nim
  compiler/types.nim
  tests/concepts/tconceptsv2.nim
Owners: @araq

Bumps `nimble v0.16.4` (#24437)
  koch.nim
  testament/important_packages.nim
  tools/deps.nim
Owners: @araq

more strictdef fixes for stdlibs (#24535)
  lib/pure/cstrutils.nim
  lib/pure/os.nim
  lib/pure/parsecfg.nim
  lib/pure/parseopt.nim
  lib/pure/parseutils.nim
  lib/pure/parsexml.nim
  lib/pure/pathnorm.nim
  lib/pure/random.nim
  lib/pure/ropes.nim
  lib/pure/stats.nim
  lib/pure/streams.nim
  lib/pure/strformat.nim
  lib/pure/strscans.nim
  lib/pure/strutils.nim
  lib/pure/times.nim
  lib/pure/typetraits.nim
  lib/pure/unicode.nim
  lib/pure/uri.nim
  lib/pure/xmlparser.nim
  lib/pure/xmltree.nim
  lib/std/private/strimpl.nim
Owners: @araq, @dom96, @GULPF

#Fixes #24536 building nimble 0.16.4 fails when running build_all.sh (#24537)
  build_all.bat
  build_all.sh
  tools/ci_generate.nim
  tools/deps.nim
Owners: @araq

proper error for const defines with unsupported types (#24540)
  compiler/semfold.nim
  compiler/semstmts.nim
  tests/errmsgs/twrongdefinetype.nim
Owners: @araq

fixes #24538 (#24541)
  lib/pure/asyncnet.nim
Owners: @dom96

fixes #20908; Unknown warnings and hints now give a warning (#24543)
  changelog.md
  compiler/commands.nim
  compiler/lineinfos.nim
Owners: @araq

fixes #24536; fixes nightlies regression caused by nimble update (#24542)
  koch.nim
  tools/deps.nim
Owners: @araq

Adds `skipParentCfg` back. Bump `nimble` to a commit where it doesnt rely in the parent config (#24545)
  build_all.bat
  build_all.sh
  koch.nim
  tools/ci_generate.nim
Owners: @araq

fixes #17681; enforce codegen for exportc consts (#24546)
  compiler/ccgexprs.nim
  tests/consts/taddressable_consts.nim
  tests/consts/taddressable_consts2.nim
Owners: @araq

Make `expandMacro` show private fields (#24522)
  compiler/sem.nim
  tests/msgs/texpandmacro.nim
Owners: @araq

fixes strictdefs warnings (#24550)
  lib/core/macros.nim
  lib/pure/asyncdispatch.nim
  lib/pure/asyncmacro.nim
  lib/pure/asyncnet.nim
  lib/pure/htmlparser.nim
  lib/pure/httpclient.nim
  lib/pure/nativesockets.nim
  lib/pure/net.nim
  lib/pure/os.nim
  lib/pure/osproc.nim
  lib/pure/parsesql.nim
  lib/pure/pegs.nim
  lib/pure/ropes.nim
  lib/pure/terminal.nim
  lib/pure/times.nim
  lib/windows/registry.nim
  lib/windows/winlean.nim
  lib/wrappers/linenoise/linenoise.nim
  lib/wrappers/openssl.nim
Owners: @araq, @dom96, @GULPF

Use long int builtins for risc-v 32-bit targets (#24553)
  lib/nimbase.h
Owners: @araq

check if unused import warning is enabled before adding import to stack (#24554)
  compiler/importer.nim
  tests/import/tpushunusedwarning.nim
Owners: @araq

remove zippy data from tarballs (#24551)
  koch.nim
Owners: @araq

fixes #23212; Asyncdispatch leaks under --mm:arc (#24556)
  lib/pure/asyncmacro.nim
  tests/arc/tasyncleak.nim
  tests/async/t23212.nim
Owners: @dom96

Make 'field is not accessible' and 'field initialized twice' errors point to the field inside the obj construction (#24557)
  compiler/semobjconstr.nim
  tests/objects/mobjconstr_msgs.nim
  tests/objects/tobjconstr_msgs.nim
Owners: @araq

fix jsonutils with generic sandwiches, don't use strformat (#24560)
  lib/std/jsonutils.nim
  tests/stdlib/mjsonutilssandwich.nim
  tests/stdlib/tjsonutilssandwich.nim
Owners: @dom96

adds a test case (#24561)
  tests/refc/t18616.nim
  tests/refc/tsinkbug.nim
Owners: @araq

Add inline assembler tests for i386, arm, arm64, riscv32 and riscv64 (#24564)
  tests/compiler/tasm.nim
Owners: @araq

fixes #23114; Nim v2 regression emit / asm var param dereference inconsistency (#24547)
  changelog.md
  compiler/nim.cfg
  compiler/pragmas.nim
  tests/compiler/tasm2.nim
  tests/config.nims
Owners: @araq

Improve async stacktraces (#24563)
  lib/pure/asyncfutures.nim
  lib/pure/asyncmacro.nim
  tests/async/tasync_traceback.nim
  tests/async/tasync_traceback2.nim
Owners: @dom96

adds a test case (#24565)
  tests/generics/tgeneric0.nim
Owners: @araq

Minor `std/strscans` improvements (#24566)
  lib/pure/strscans.nim
  tests/stdlib/t8925.nim
  tests/stdlib/tstrscans_errs.nim
Owners: @araq

Doc search improvements (#24567)
  doc/nimdoc.css
  nimdoc/testproject/expected/nimdoc.out.css
  tools/dochack/dochack.nim
Owners: @araq

docs: fix typos (#24573)
  compiler/isolation_check.nim
  compiler/semtypinst.nim
  doc/backends.md
  doc/manual.md
Owners: @araq

Support tuple parameter types (#24576)
  lib/std/tasks.nim
Owners: @araq

Consider iterator types (#24577)
  lib/core/macros.nim
Owners: @araq

chore: correct typos docs (#24580)
  changelogs/changelog_0_18_1.md
Owners: @araq

chore: docs fix spelling issues (#24581)
  changelogs/changelog_1_0_2.md
Owners: @araq

Update copyright year 2025 (#24593)
  compiler/options.nim
  copying.txt
  readme.md
Owners: @araq

varints: no need for emit (#24585)
  lib/std/varints.nim
Owners: @araq

fix c_memchr, c_strstr definitions (#24587)
  lib/pure/memfiles.nim
  lib/pure/strutils.nim
  lib/std/formatfloat.nim
  lib/std/private/strimpl.nim
  lib/std/syncio.nim
  lib/system/ansi_c.nim
Owners: @araq

fixes #24599; misleading error message with large array bounds (#24601)
  compiler/semtypes.nim
Owners: @araq

docs fix spelling issues (#24597)
  changelogs/changelog_1_0_0.md
  changelogs/changelog_2_0_0.md
Owners: @araq

math: Add cumprod and cumproded (#23416)
  lib/pure/math.nim
  tests/stdlib/tmath.nim
Owners: @krux02, @cooldome, @araq

Update changelog_1_2_0.md (#24607)
  changelogs/changelog_1_2_0.md
Owners: @araq

ci: update to ubuntu 22.04 (#24608)
  .github/workflows/ci_docs.yml
  .github/workflows/ci_packages.yml
  .github/workflows/ci_publish.yml
Owners: @araq
