Repository Araq/Nim, changes with the owners that .github/CODEOWNERS names for each.
All owners: @araq, @dom96, @GULPF, @flaviu, @krux02, @cooldome

Fix POSIX signal(3) binding's type signature; remove bsd_signal
  lib/posix/posix.nim
Owners: @araq

cbuilder: make Builder an object
  compiler/cbuilderbase.nim
  compiler/cbuilderdecls.nim
  compiler/ccgcalls.nim
  compiler/ccgexprs.nim
  compiler/ccgliterals.nim
  compiler/ccgstmts.nim
  compiler/ccgthreadvars.nim
  compiler/ccgtrav.nim
  compiler/ccgtypes.nim
  compiler/cgen.nim
  compiler/cgendata.nim
Owners: @araq

try reducing intermediate builders, some tweaks
  compiler/cbuilderbase.nim
  compiler/cbuilderdecls.nim
  compiler/ccgexprs.nim
  compiler/ccgliterals.nim
  compiler/ccgthreadvars.nim
  compiler/ccgtypes.nim
  compiler/cgen.nim
Owners: @araq

add back some intermediate builders
  compiler/ccgexprs.nim
  compiler/ccgtypes.nim
Owners: @araq

fix const type issue, hopefully last one
  compiler/ccgexprs.nim
Owners: @araq

disable all badssl tests
  tests/untestable/thttpclient_ssl_disabled.nim
  tests/untestable/thttpclient_ssl_env_var.nim
  tests/untestable/thttpclient_ssl_remotenetwork.nim
Owners: @araq

add comments
  tests/untestable/thttpclient_ssl_disabled.nim
  tests/untestable/thttpclient_ssl_env_var.nim
  tests/untestable/thttpclient_ssl_remotenetwork.nim
Owners: @araq

fix: wrong node type
  compiler/sem.nim
Owners: @araq

fix explicit generics with unresolved arguments
  compiler/semcall.nim
  compiler/semexprs.nim
  tests/proc/texplicitgenerics.nim
Owners: @araq

Apply suggestions from code review
  compiler/cbuilderstmts.nim
Owners: @araq

fix compilation after builder change
  compiler/ccgtypes.nim
Owners: @araq

disallow implicit return if `result` is used, don't use void context
  compiler/semexprs.nim
  compiler/semstmts.nim
  tests/discard/tvoidcontext.nim
  tests/discard/tvoidcontext1.nim
  tests/discard/tvoidcontext2.nim
  tests/discard/twrongvoidcontext.nim
Owners: @araq

add issue number
  tests/discard/twrongvoidcontext.nim
Owners: @araq

include type in error message
  compiler/semexprs.nim
  tests/discard/tvoidcontext1.nim
  tests/discard/tvoidcontext2.nim
Owners: @araq

completely consider void, giving discard check error again
  compiler/semexprs.nim
  lib/packages/docutils/rst.nim
  tests/discard/tvoidcontext1.nim
  tests/discard/tvoidcontext2.nim
Owners: @araq

use cbuilder for most of ccgcalls
  compiler/cbuilderexprs.nim
  compiler/ccgcalls.nim
  compiler/ccgstmts.nim
  compiler/cgen.nim
Owners: @araq

cbuilder: add switch stmt, use for ccgreset and ccgtrav
  compiler/cbuilderdecls.nim
  compiler/cbuilderexprs.nim
  compiler/cbuilderstmts.nim
  compiler/ccgreset.nim
  compiler/ccgstmts.nim
  compiler/ccgtrav.nim
Owners: @araq

fix ptr array args
  compiler/ccgcalls.nim
Owners: @araq

fixes strictdefs with `when nimvm`
  compiler/sempass2.nim
  tests/init/tlet.nim
Owners: @araq

oops
  compiler/sempass2.nim
Owners: @araq

Handle edge case
  lib/system/alloc.nim
Owners: @araq

Check gcDestructors
  lib/system/alloc.nim
Owners: @araq

adding seek and tell
  lib/std/syncio.nim
Owners: @araq

cbuilder: ccgexprs sweep part 3 (end)
  compiler/cbuilderdecls.nim
  compiler/cbuilderexprs.nim
  compiler/cbuilderstmts.nim
  compiler/ccgexprs.nim
Owners: @araq

fix compilation
  compiler/ccgexprs.nim
Owners: @araq

test faithful set `in`
  compiler/cbuilderbase.nim
  compiler/ccgexprs.nim
Owners: @araq

fix set ops
  compiler/ccgexprs.nim
Owners: @araq

commit some fixes to see diff better
  compiler/ccgexprs.nim
Owners: @araq

fix call order for move
  compiler/ccgexprs.nim
Owners: @araq

skip structural generics instead, might be incorrect for C++ imports
  compiler/injectdestructors.nim
  compiler/liftdestructors.nim
  compiler/sighashes.nim
  compiler/types.nim
  tests/arc/tphantomgeneric1.nim
  tests/arc/tphantomgeneric2.nim
Owners: @araq

exclude ref/ptr, tshared_ptr_crash broken
  compiler/types.nim
  tests/arc/t22218.nim
Owners: @araq

mistake
  compiler/types.nim
Owners: @araq

disable inim for now
  testament/important_packages.nim
Owners: @araq

oops
  tests/stdlib/tssl.nim
Owners: @araq

disable prologue
  testament/important_packages.nim
Owners: @araq

[skip ci] nevermind
  lib/std/syncio.nim
Owners: @araq

progress
  tests/stdlib/tfdleak.nim
Owners: @araq

checks
  lib/std/typedthreads.nim
Owners: @araq

fixes locks
  lib/pure/collections/sharedtables.nim
Owners: @GULPF

progress: adds `legacy:nostrictdefs`
  compiler/condsyms.nim
  compiler/nim.cfg
  compiler/options.nim
  compiler/semexprs.nim
  compiler/sempass2.nim
  compiler/semstmts.nim
  compiler/sigmatch.nim
  testament/important_packages.nim
  tests/cpp/tasync_cpp.nim
  tests/msgs/twarningaserror.nim
Owners: @araq, @dom96

.github/CODEOWNERS:

# github CODEOWNERS file
# syntax: https://help.github.com/articles/about-codeowners/
# related discussion: [how to increase velocity for merging PRs? - Nim forum](https://forum.nim-lang.org/t/4285)
#
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence to determine who will be requested for review for a PR.
#
# Note: This list is incomplete, in doubt @dom96 is responsible for the standard
# library, @araq is responsible for the compiler.

## global
* @araq

## Compiler

## Standard library
*async* @dom96
*strutils* @araq
*sequtils* @dom96 @araq
*times* @GULPF

os.nim @dom96 @araq
ospaths.nim @dom96 @araq
re.nim @araq
nre.nim @flaviu

math.nim @krux02 @cooldome
fenv.nim @krux02 @cooldome

collections @GULPF
*json*.nim @dom96
*parseopt* @araq

###################################################
## informal entries not easily mapped to CODEOWNERS

## Compiler

#Renderer:                       @cooldome, @araq
#Parsing, Lexing:                @araq
#Order of passes:                @cooldome
#Semantic Checking:              @araq
#Virtual machine:                @jangko @GULPF @araq
#Sempass2: effects tracking:     @cooldome @araq
#type system, concepts:          @zahary
#transf:                         @cooldome @araq
#semfold constant folding:       @araq
#template instantiation:         @zahary @araq
#term rewriting macros:          @cooldome @araq
#closure interators:             @yglukhov @araq
#lambda lifting:                 @yglukhov @araq
#c, cpp codegen:                 @lemonboy @araq
#js codegen:                     @yglukhov @lemonboy
#alias analysis:                 @araq
#dfa, writetracking:             @araq
#parallel, multithreading:       @araq
#incremental:                    @araq
#sizeof computations:            @krux02
#Exception handling:             @cooldome @araq

## Standard library

# io: @dom96
# garbage collector: @araq
# Go garbage collector: @stefantalpalaru
# coroutines:  @rokups
