Repository Araq/Nim, changes with the owners that .github/CODEOWNERS names for each.
All owners: @araq, @dom96, @GULPF, @flaviu, @krux02, @cooldome

.github/CODEOWNERS:

# github CODEOWNERS file
# syntax: https://help.github.com/articles/about-codeowners/
# related discussion: [how to increase velocity for merging PRs? - Nim forum](https://forum.nim-lang.org/t/4285)
#
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence to determine who will be requested for review for a PR.
#
# Note: This list is incomplete, in doubt @dom96 is responsible for the standard
# library, @araq is responsible for the compiler.

## global
* @araq

## Compiler

## Standard library
*async* @dom96
*strutils* @araq
*sequtils* @dom96 @araq
*times* @GULPF

os.nim @dom96 @araq
ospaths.nim @dom96 @araq
re.nim @araq
nre.nim @flaviu

math.nim @krux02 @cooldome
fenv.nim @krux02 @cooldome

collections @GULPF
*json*.nim @dom96
*parseopt* @araq

###################################################
## informal entries not easily mapped to CODEOWNERS

## Compiler

#Renderer:                       @cooldome, @araq
#Parsing, Lexing:                @araq
#Order of passes:                @cooldome
#Semantic Checking:              @araq
#Virtual machine:                @jangko @GULPF @araq
#Sempass2: effects tracking:     @cooldome @araq
#type system, concepts:          @zahary
#transf:                         @cooldome @araq
#semfold constant folding:       @araq
#template instantiation:         @zahary @araq
#term rewriting macros:          @cooldome @araq
#closure interators:             @yglukhov @araq
#lambda lifting:                 @yglukhov @araq
#c, cpp codegen:                 @lemonboy @araq
#js codegen:                     @yglukhov @lemonboy
#alias analysis:                 @araq
#dfa, writetracking:             @araq
#parallel, multithreading:       @araq
#incremental:                    @araq
#sizeof computations:            @krux02
#Exception handling:             @cooldome @araq

## Standard library

# io: @dom96
# garbage collector: @araq
# Go garbage collector: @stefantalpalaru
# coroutines:  @rokups

fix string literal assignment with different lengths on ARC (#24083)
  lib/system/strs_v2.nim
  tests/arc/tstringliteral.nim
Owners: @araq

fix int32's that should be uint32 on BSD & OSX (#24078)
  lib/posix/posix_macos_amd64.nim
  lib/posix/posix_openbsd_amd64.nim
  tests/stdlib/twronguidtype.nim
Owners: @araq

fix regression with generic params in static type (#24075)
  compiler/sigmatch.nim
  tests/generics/tuninstantiatedgenericcalls.nim
Owners: @araq

fixes nightlies regression
  tools/deps.nim
Owners: @araq

oops
  koch.nim
Owners: @araq

fixes #20908; Unknown warnings and hints now give a warning
  changelog.md
  compiler/commands.nim
  compiler/lineinfos.nim
Owners: @araq

only generate first field for default value of union (#24303)
  compiler/ccgexprs.nim
  tests/ccgbugs/tunioninit.nim
Owners: @araq

fixes #24319; `move` doesn't work well with (deref (var array)) (#24321)
  compiler/ccgexprs.nim
  tests/destructor/tmove.nim
Owners: @araq

Fix broken poll and nfds_t bindings (#24331)
  lib/posix/posix.nim
  lib/posix/posix_haiku.nim
  lib/posix/posix_linux_amd64.nim
  lib/posix/posix_macos_amd64.nim
  lib/posix/posix_nintendoswitch.nim
  lib/posix/posix_openbsd_amd64.nim
  lib/posix/posix_other.nim
  lib/pure/ioselects/ioselectors_poll.nim
  lib/pure/net.nim
Owners: @araq

fixes #23545; C compiler error when default initializing an object field function (#24375)
  compiler/semtypes.nim
  tests/objects/tobject_default_value.nim
Owners: @araq

fixes #24371; incorrect importc wrapper incompatible with gcc 14 on Windows (#24388)
  lib/windows/winlean.nim
Owners: @araq

gensym anonymous proc symbols (#24422)
  compiler/semstmts.nim
  tests/proc/tanonprocresem.nim
Owners: @araq

fixes #17681; enforce codegen for exportc consts
  compiler/ccgexprs.nim
  tests/consts/taddressable_consts.nim
  tests/consts/taddressable_consts2.nim
Owners: @araq

fix crash with tyBuiltInTypeClass matching itself (#24462)
  compiler/sigmatch.nim
  tests/overload/tvartypeclass.nim
Owners: @araq

Fix exitnow signature, mark as .noreturn (#24533)
  lib/posix/posix.nim
Owners: @araq

fixes #23114; Nim v2 emit / asm var param dereference inconsistency
  compiler/pragmas.nim
  tests/compiler/tasm2.nim
Owners: @araq

adds `nimHasAsmSemSymbol`
  compiler/condsyms.nim
Owners: @araq

put it under nimPreviewAsmSemSymbol
  changelog.md
  compiler/condsyms.nim
  compiler/nim.cfg
  compiler/pragmas.nim
  tests/config.nims
Owners: @araq

improve
  changelog.md
Owners: @araq

make distinct conversions addressable in VM (#24124)
  compiler/vmgen.nim
  tests/vm/tconvaddr.nim
Owners: @araq

fix logic for `dcEqIgnoreDistinct` in `sameType` (#24197)
  compiler/types.nim
  tests/distinct/tcomplexaddressableconv.nim
Owners: @araq

fixes #18081; fixes #18079; fixes #18080; nested ref/deref'd types (#24335)
  compiler/ccgexprs.nim
  compiler/jsgen.nim
  compiler/transf.nim
  tests/ccgbugs/t13062.nim
Owners: @araq

fixes #24472; let symbol created by template is reused in nimvm branch (#24473)
  compiler/sempass2.nim
  lib/pure/volatile.nim
  tests/init/tlet.nim
Owners: @araq

fixes strictdefs warnings
  lib/core/macros.nim
  lib/pure/asyncdispatch.nim
  lib/pure/asyncmacro.nim
  lib/pure/asyncnet.nim
  lib/pure/htmlparser.nim
  lib/pure/httpclient.nim
  lib/pure/nativesockets.nim
  lib/pure/net.nim
  lib/pure/os.nim
  lib/pure/osproc.nim
  lib/pure/parsesql.nim
  lib/pure/pegs.nim
  lib/pure/terminal.nim
  lib/pure/times.nim
  lib/windows/registry.nim
  lib/windows/winlean.nim
  lib/wrappers/linenoise/linenoise.nim
  lib/wrappers/openssl.nim
Owners: @araq, @dom96, @GULPF

uses `noinit`
  lib/pure/ropes.nim
Owners: @araq

Apply suggestions from code review
  lib/pure/asyncdispatch.nim
Owners: @dom96

remove zippy data from tarballs
  koch.nim
Owners: @araq

oops
  koch.nim
Owners: @araq

zzz
  koch.nim
Owners: @araq

Bumps `nimble v0.16.4` (#24437)
  koch.nim
  testament/important_packages.nim
  tools/deps.nim
Owners: @araq

(cherry picked from commit 556f217b4cbebad0d8eabb1733fb1dcca46585ec)
  build_all.bat
  build_all.sh
  tools/ci_generate.nim
  tools/deps.nim
Owners: @araq

Adds `skipParentCfg` back. Bump `nimble` to a commit where it doesnt rely in the parent config (#24545)
  build_all.bat
  build_all.sh
  koch.nim
  tools/ci_generate.nim
Owners: @araq

Use long int builtins for risc-v 32-bit targets
  lib/nimbase.h
Owners: @araq

check if unused import warning is enabled before adding import to stack
  compiler/importer.nim
  tests/import/tpushunusedwarning.nim
Owners: @araq

use original module config
  compiler/importer.nim
  tests/import/tpushunusedwarning.nim
Owners: @araq

start with stmtlist
  compiler/sigmatch.nim
  tests/template/moverloadedblockparam.nim
  tests/template/toverloadedblockparam.nim
Owners: @araq

generalize to post expr blocks and pragma macros
  compiler/sigmatch.nim
  tests/template/toverloadedblockparam.nim
Owners: @araq

might as well test globally
  config/config.nims
Owners: @araq

avoid cycles in asyncmacro
  lib/pure/asyncmacro.nim
Owners: @dom96

wip
  lib/pure/asyncmacro.nim
Owners: @dom96
