Repository Araq/Nim, changes with the owners that .github/CODEOWNERS names for each.
All owners: @araq, @dom96, @GULPF, @flaviu, @krux02, @cooldome

cleaner refactor
  compiler/semtypinst.nim
  tests/generics/t23628.nim
  tests/generics/tstaticinstcache.nim
Owners: @araq

cbuilder: adapt `switch` generation with `if` fallbacks
  compiler/ccgstmts.nim
Owners: @araq

fix jsonutils macro with generic ref case object
  lib/std/jsonutils.nim
  tests/stdlib/tjsonutils.nim
Owners: @dom96

fix subtype match of generic object types
  compiler/sigmatch.nim
  compiler/types.nim
  tests/objects/tgenericsubtype.nim
Owners: @araq

add indents
  compiler/cbuilderbase.nim
  compiler/cbuilderdecls.nim
  compiler/cbuilderstmts.nim
  compiler/ccgexprs.nim
Owners: @araq

fix wrong rebase
  compiler/cbuilderstmts.nim
Owners: @araq

while CI is running, fix comments
  compiler/types.nim
Owners: @araq

part 1
  compiler/cbuilderbase.nim
  compiler/cbuilderdecls.nim
  compiler/cbuilderexprs.nim
  compiler/ccgthreadvars.nim
  compiler/cgen.nim
  compiler/cgendata.nim
Owners: @araq

fix some issues
  compiler/cbuilderexprs.nim
  compiler/cgen.nim
Owners: @araq

workaround c++ strictdefs issue probably preexisting
  lib/pure/collections/tables.nim
Owners: @GULPF

remove unfinished hcr init proc for now
  compiler/cgen.nim
Owners: @araq

should be good for now
  compiler/cbuilderdecls.nim
  compiler/cbuilderexprs.nim
  compiler/cgen.nim
Owners: @araq

fix missing closing paren
  compiler/cbuilderdecls.nim
Owners: @araq

fix wrong unnamed param
  compiler/cgen.nim
Owners: @araq

fix cmdline should be triple pointer on hcr
  compiler/cgen.nim
Owners: @araq

fixes #24434; C gen issue using nim-lang/opengl
  compiler/cbuilderdecls.nim
Owners: @araq

adds some test cases
  tests/generics/t23854.nim
Owners: @araq

use template instead of raw C prefixes in genTypeInfo
  compiler/ccgtypes.nim
Owners: @araq

make cAddr wrap parens, thought this was already the case
  compiler/cbuilderexprs.nim
Owners: @araq

fix wrong error for iterators with no body and pragma macro
  compiler/semstmts.nim
  tests/pragmas/titeratormacro.nim
Owners: @araq

remove inactive case fields from VM object constructor nodes
  compiler/sem.nim
  compiler/semmacrosanity.nim
  compiler/vm.nim
  tests/vm/tcaseobj.nim
Owners: @araq

prevent codegen instead
  compiler/ccgexprs.nim
  compiler/sem.nim
  compiler/semmacrosanity.nim
  compiler/vm.nim
Owners: @araq

fix comment
  compiler/semmacrosanity.nim
Owners: @araq

meh
  compiler/sigmatch.nim
Owners: @araq

tests and adjust
  tests/concepts/tconcepts_concrete.nim
  tests/concepts/tusertypeclasses.nim
  tests/lent/t16898.nim
Owners: @araq

make some trivial sizeof calls in codegen use types/literals
  compiler/ccgexprs.nim
  compiler/cgen.nim
Owners: @araq

test removing structural equality for objects and distinct types
  compiler/types.nim
  tests/objects/tgenericsubtype.nim
Owners: @araq

refactor
  compiler/types.nim
Owners: @araq

cbuilder: use constants for type names, some cleanups
  compiler/cbuilderbase.nim
  compiler/cbuilderdecls.nim
  compiler/cbuilderexprs.nim
  compiler/cbuilderstmts.nim
  compiler/ccgcalls.nim
  compiler/ccgexprs.nim
  compiler/ccgliterals.nim
  compiler/ccgreset.nim
  compiler/ccgstmts.nim
  compiler/ccgthreadvars.nim
  compiler/ccgtrav.nim
  compiler/ccgtypes.nim
  compiler/cgen.nim
Owners: @araq

try
  compiler/semstmts.nim
  compiler/types.nim
  tests/concepts/tconceptsv2.nim
Owners: @araq

fix bug
  compiler/types.nim
Owners: @araq

adjust err msg
  compiler/semstmts.nim
  tests/errmsgs/tmetaobjectfields.nim
Owners: @araq

adjust test
  compiler/semstmts.nim
  tests/errmsgs/tmetaobjectfields.nim
  tests/generics/tmetafield.nim
  tests/generics/twrong_generic_object.nim
Owners: @araq

include new concepts in typeclasses, makes containsGenericType work
  compiler/ast.nim
  compiler/typeallowed.nim
  tests/concepts/tuninstantiated.nim
Owners: @araq

make all sizeof calls in codegen use types
  compiler/ccgexprs.nim
  compiler/ccgstmts.nim
Owners: @araq

cbuilder: abstract over unmangled C identifiers
  compiler/cbuilderbase.nim
  compiler/ccgexprs.nim
  compiler/ccgstmts.nim
  compiler/cgen.nim
Owners: @araq

disable weird type inference for object constructors
  compiler/semobjconstr.nim
  tests/errmsgs/tuninstobjconstr.nim
Owners: @araq

fixes nightlies failures
  compiler/cbuilderbase.nim
Owners: @araq

Fix highlite.nim
  lib/packages/docutils/highlite.nim
Owners: @araq

Update trstgen.nim
  tests/stdlib/trstgen.nim
Owners: @araq

.github/CODEOWNERS:

# github CODEOWNERS file
# syntax: https://help.github.com/articles/about-codeowners/
# related discussion: [how to increase velocity for merging PRs? - Nim forum](https://forum.nim-lang.org/t/4285)
#
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence to determine who will be requested for review for a PR.
#
# Note: This list is incomplete, in doubt @dom96 is responsible for the standard
# library, @araq is responsible for the compiler.

## global
* @araq

## Compiler

## Standard library
*async* @dom96
*strutils* @araq
*sequtils* @dom96 @araq
*times* @GULPF

os.nim @dom96 @araq
ospaths.nim @dom96 @araq
re.nim @araq
nre.nim @flaviu

math.nim @krux02 @cooldome
fenv.nim @krux02 @cooldome

collections @GULPF
*json*.nim @dom96
*parseopt* @araq

###################################################
## informal entries not easily mapped to CODEOWNERS

## Compiler

#Renderer:                       @cooldome, @araq
#Parsing, Lexing:                @araq
#Order of passes:                @cooldome
#Semantic Checking:              @araq
#Virtual machine:                @jangko @GULPF @araq
#Sempass2: effects tracking:     @cooldome @araq
#type system, concepts:          @zahary
#transf:                         @cooldome @araq
#semfold constant folding:       @araq
#template instantiation:         @zahary @araq
#term rewriting macros:          @cooldome @araq
#closure interators:             @yglukhov @araq
#lambda lifting:                 @yglukhov @araq
#c, cpp codegen:                 @lemonboy @araq
#js codegen:                     @yglukhov @lemonboy
#alias analysis:                 @araq
#dfa, writetracking:             @araq
#parallel, multithreading:       @araq
#incremental:                    @araq
#sizeof computations:            @krux02
#Exception handling:             @cooldome @araq

## Standard library

# io: @dom96
# garbage collector: @araq
# Go garbage collector: @stefantalpalaru
# coroutines:  @rokups
