Repository Araq/Nim, changes with the owners that .github/CODEOWNERS names for each.
All owners: @araq, @dom96, @GULPF, @flaviu, @krux02, @cooldome

documentation and comments use HTTPS when possible (#24264)
  compiler/extccomp.nim
  copying.txt
  doc/backends.md
  doc/docgen.md
  doc/hcr.md
  doc/nep1.md
  doc/nimc.md
  doc/niminst.md
  doc/regexprs.txt
  lib/experimental/diff.nim
  lib/impure/nre.nim
  lib/impure/re.nim
  lib/nimbase.h
  lib/packages/docutils/rst.nim
  lib/packages/docutils/rstgen.nim
  lib/posix/posix.nim
  lib/posix/posix_haiku.nim
  lib/posix/posix_macos_amd64.nim
  lib/posix/posix_openbsd_amd64.nim
  lib/posix/posix_other.nim
  lib/pure/algorithm.nim
  lib/pure/asyncdispatch.nim
  lib/pure/asyncfile.nim
  lib/pure/asyncnet.nim
  lib/pure/collections/sets.nim
  lib/pure/httpcore.nim
  lib/pure/nativesockets.nim
  lib/pure/net.nim
  lib/pure/os.nim
  lib/pure/osproc.nim
  lib/pure/random.nim
  lib/pure/times.nim
  lib/pure/uri.nim
  lib/pure/xmltree.nim
  lib/std/cmdline.nim
  lib/std/packedsets.nim
  lib/std/private/win_setenv.nim
  lib/system/dyncalls.nim
  lib/system/strmantle.nim
Owners: @araq, @flaviu, @dom96, @GULPF

remove conflicting `default` call in tables.getOrDefault (#24265)
  compiler/docgen.nim
  lib/packages/docutils/rst.nim
  lib/pure/collections/tables.nim
  testament/important_packages.nim
  tests/stdlib/ttables.nim
Owners: @araq, @GULPF

fix workaround for protobuf not installing combparser fork in CI (#24267)
  testament/important_packages.nim
Owners: @araq

don't allow instantiations resolving to generic body types (#24273)
  compiler/seminst.nim
  tests/generics/tgenericbodyreturn1.nim
  tests/generics/tgenericbodyreturn2.nim
  tests/generics/tgenericbodyreturn3.nim
  tests/generics/tuninstantiatedgenericcalls.nim
Owners: @araq

std/math: Add `^` overload for float32 and float64 (#20898)
  changelog.md
  lib/pure/math.nim
  tests/stdlib/tmath.nim
Owners: @araq, @krux02, @cooldome

test more Status' packages, refs #24266 (#24275)
  testament/important_packages.nim
Owners: @araq

fix deref/addr pair deleting assignment location in C++ (#24280)
  compiler/ccgexprs.nim
  tests/ccgbugs/tvararrayiter.nim
Owners: @araq

use `case` instead of set of int in osproc (#24277)
  lib/pure/osproc.nim
Owners: @araq

make linter use lineinfo to check originating package (#24270)
  compiler/linter.nim
  compiler/packages.nim
  tests/stdlib/tdeques.nim
  tests/stylecheck/tforeign_package.nim
Owners: @araq

Bumps `nimble` to v0.16.2 (#24283)
  koch.nim
Owners: @araq

make package testing faster (#24284)
  testament/important_packages.nim
Owners: @araq

add tables.getOrDefault param name change to changelog (#24271)
  changelog.md
Owners: @araq

use /link before each library linker option on MSVC (#24291)
  compiler/extccomp.nim
Owners: @araq

fix type of reconstructed kind field node in field checking analysis [backport] (#24290)
  compiler/guards.nim
  tests/objvariant/tcorrectcheckedfield.nim
Owners: @araq

modulegraphs: added a flag useful for gear2 (#24293)
  compiler/modulegraphs.nim
Owners: @araq

don't evaluate "cannot eval" errors with nim check (#24289)
  compiler/vm.nim
  compiler/vmdef.nim
  compiler/vmgen.nim
Owners: @araq

add retries to testament, use it for GC tests (#24279)
  testament/categories.nim
  testament/specs.nim
  testament/testament.nim
  testament/tests/shouldfail/tnotenoughretries.nim
  tests/gc/bintrees.nim
  tests/gc/closureleak.nim
  tests/gc/cyclecollector.nim
  tests/gc/cycleleak.nim
  tests/gc/foreign_thr.nim
  tests/gc/gcbench.nim
  tests/gc/gcemscripten.nim
  tests/gc/gcleak.nim
  tests/gc/gcleak2.nim
  tests/gc/gcleak3.nim
  tests/gc/gcleak4.nim
  tests/gc/gcleak5.nim
  tests/gc/gctest.nim
  tests/gc/growobjcrash.nim
  tests/gc/refarrayleak.nim
  tests/gc/stackrefleak.nim
  tests/gc/tdisable_orc.nim
  tests/gc/thavlak.nim
  tests/gc/tlists.nim
  tests/gc/trace_globals.nim
  tests/gc/tregionleak.nim
  tests/gc/weakrefs.nim
  tests/testament/tretries.nim
  tests/testament/tshould_not_work.nim
Owners: @araq

clean up testament retries, add some comments (#24294)
  testament/categories.nim
  testament/testament.nim
Owners: @araq

Expand enum example tut1.md (#24268)
  doc/tut1.md
Owners: @araq

templates/macros use no expected types when return types are specified (#24298)
  compiler/sem.nim
  tests/types/ttopdowninference.nim
Owners: @araq

define `-d:nimHasDefaultFloatRoundtrip` and enable datamancer (#24300)
  compiler/condsyms.nim
  testament/important_packages.nim
Owners: @araq

fixes #24258; compiler crash on `len` of `varargs[untyped]` (#24307)
  compiler/renderer.nim
  tests/errmsgs/t24258.nim
Owners: @araq

fixes ci_generate produces unnecessary spaces on Windows (#24309)
  build_all.bat
  tools/ci_generate.nim
Owners: @araq

closes #19585; adds a test case for #21648 (#24310)
  tests/ccgbugs/t19585.nim
Owners: @araq

make owner a private field of `PSym` (#24311)
  compiler/ast.nim
  compiler/evaltempl.nim
  compiler/ic/ic.nim
  compiler/modules.nim
  compiler/sem.nim
  compiler/semexprs.nim
  compiler/seminst.nim
  compiler/semmagic.nim
  compiler/semstmts.nim
  compiler/semtypes.nim
  compiler/semtypinst.nim
  compiler/transf.nim
Owners: @araq

make owner a private field of `PType` (#24314)
  compiler/ast.nim
  compiler/ic/ic.nim
  compiler/semdata.nim
Owners: @araq

fixes #18896; fixes #20886; importc types alias doesn't work with distinct (#24313)
  compiler/ccgtypes.nim
  tests/ccgbugs/timportc_distinct.nim
Owners: @araq

adds a getter/setter for `owner` (#24318)
  compiler/ast.nim
  compiler/evaltempl.nim
  compiler/ic/ic.nim
  compiler/modules.nim
  compiler/sem.nim
  compiler/semexprs.nim
  compiler/seminst.nim
  compiler/semmagic.nim
  compiler/semstmts.nim
  compiler/semtypes.nim
  compiler/semtypinst.nim
  compiler/transf.nim
Owners: @araq

fixes #24319; `move` doesn't work well with (deref (var array)) (#24321)
  compiler/ccgexprs.nim
  tests/destructor/tmove.nim
Owners: @araq

shallow fold prevention for `addr`, `nkHiddenAddr` (#24322)
  compiler/transf.nim
  tests/iter/tfoldedaddr.nim
Owners: @araq

Document about noinline calling convention and exportcpp pragma in Nim manual (#24323)
  doc/manual.md
Owners: @araq

Fixes #3824, fixes #19154, and hopefully #24094. Re-applies #23787. (#24316)
  compiler/closureiters.nim
  compiler/lambdalifting.nim
  compiler/transf.nim
  tests/destructor/tuse_ownedref_after_move.nim
  tests/iter/tnestedclosures.nim
  tests/iter/tyieldintry.nim
Owners: @araq

build documentation for `repr_v2` (#24325)
  lib/system_overview.rst
  tools/kochdocs.nim
Owners: @araq

better errors for standalone explicit generic instantiations (#24276)
  compiler/semcall.nim
  compiler/semexprs.nim
  compiler/semmagic.nim
  compiler/sigmatch.nim
  tests/generics/tpointerprocs.nim
  tests/overload/tambiguousexplicitgeneric.nim
  tests/overload/texplicitgenericdiscard.nim
Owners: @araq

symmetric difference operation for sets via `xor` (#24286)
  changelog.md
  compiler/ast.nim
  compiler/ccgexprs.nim
  compiler/condsyms.nim
  compiler/jsgen.nim
  compiler/semfold.nim
  compiler/vm.nim
  compiler/vmdef.nim
  compiler/vmgen.nim
  lib/std/setutils.nim
  lib/system/jssys.nim
  tests/stdlib/tsetutils.nim
Owners: @araq

Fix quoted idents in ctags (#24317)
  compiler/docgen.nim
  tests/tools/tctags.nim
Owners: @araq

clean up stdlib with --jsbigint64 (#24255)
  lib/js/jscore.nim
  lib/pure/hashes.nim
  lib/pure/random.nim
  lib/pure/strutils.nim
  lib/pure/times.nim
  lib/std/private/jsutils.nim
  tests/int/tints.nim
  tests/js/ttypedarray.nim
  tests/lexer/tunary_minus.nim
  tests/pragmas/thintprocessing.nim
  tests/stdlib/tjson.nim
  tests/stdlib/trandom.nim
  tests/stdlib/tstrutils.nim
  tests/system/tdollars.nim
Owners: @araq, @GULPF, @dom96

Fix broken poll and nfds_t bindings (#24331)
  lib/posix/posix.nim
  lib/posix/posix_haiku.nim
  lib/posix/posix_linux_amd64.nim
  lib/posix/posix_macos_amd64.nim
  lib/posix/posix_nintendoswitch.nim
  lib/posix/posix_openbsd_amd64.nim
  lib/posix/posix_other.nim
  lib/pure/ioselects/ioselectors_poll.nim
  lib/pure/net.nim
Owners: @araq

wrap `fields` iterations in `if true` scope [backport] (#24343)
  compiler/semfields.nim
  tests/system/tfields.nim
Owners: @araq

closes #19984; adds a test case (#24349)
  tests/closure/tclosure.nim
Owners: @araq

.github/CODEOWNERS:

# github CODEOWNERS file
# syntax: https://help.github.com/articles/about-codeowners/
# related discussion: [how to increase velocity for merging PRs? - Nim forum](https://forum.nim-lang.org/t/4285)
#
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence to determine who will be requested for review for a PR.
#
# Note: This list is incomplete, in doubt @dom96 is responsible for the standard
# library, @araq is responsible for the compiler.

## global
* @araq

## Compiler

## Standard library
*async* @dom96
*strutils* @araq
*sequtils* @dom96 @araq
*times* @GULPF

os.nim @dom96 @araq
ospaths.nim @dom96 @araq
re.nim @araq
nre.nim @flaviu

math.nim @krux02 @cooldome
fenv.nim @krux02 @cooldome

collections @GULPF
*json*.nim @dom96
*parseopt* @araq

###################################################
## informal entries not easily mapped to CODEOWNERS

## Compiler

#Renderer:                       @cooldome, @araq
#Parsing, Lexing:                @araq
#Order of passes:                @cooldome
#Semantic Checking:              @araq
#Virtual machine:                @jangko @GULPF @araq
#Sempass2: effects tracking:     @cooldome @araq
#type system, concepts:          @zahary
#transf:                         @cooldome @araq
#semfold constant folding:       @araq
#template instantiation:         @zahary @araq
#term rewriting macros:          @cooldome @araq
#closure interators:             @yglukhov @araq
#lambda lifting:                 @yglukhov @araq
#c, cpp codegen:                 @lemonboy @araq
#js codegen:                     @yglukhov @lemonboy
#alias analysis:                 @araq
#dfa, writetracking:             @araq
#parallel, multithreading:       @araq
#incremental:                    @araq
#sizeof computations:            @krux02
#Exception handling:             @cooldome @araq

## Standard library

# io: @dom96
# garbage collector: @araq
# Go garbage collector: @stefantalpalaru
# coroutines:  @rokups
