Repository Araq/Nim, changes with the owners that .github/CODEOWNERS names for each.
All owners: @araq, @dom96, @GULPF, @flaviu, @krux02, @cooldome

Update compiler/pragmas.nim
  compiler/pragmas.nim
Owners: @araq

implements `quirky` for functions (#24700)
  compiler/pragmas.nim
  lib/system/arc.nim
  tests/arc/tvalgrind.nim
Owners: @araq

Improve bash completion support for nim, nimgrep, nimpretty, nimsuggest
  tools/nim.bash-completion
  tools/nimgrep.bash-completion
  tools/nimpretty.bash-completion
  tools/nimsuggest.bash-completion
Owners: @araq

fixes #24664; always sets the \0 terminator in `appendString`
  lib/system/strs_v2.nim
Owners: @araq

adds a test case
  tests/system/t24664.nim
Owners: @araq

fixes ORC memory leaks; marks hooks with optQuirky (#24701)
  compiler/liftdestructors.nim
Owners: @araq

fixes #24705; encode `static parameters` into function names
  compiler/ccgtypes.nim
  compiler/ccgutils.nim
Owners: @araq

adds a test case
  tests/codegen/titaniummangle.nim
Owners: @araq

don't try to infer array range to unresolved range
  compiler/sigmatch.nim
  tests/overload/tgenericrangedisamb.nim
Owners: @araq

don't override tuple constructor types from VM
  compiler/semexprs.nim
  tests/tuples/tconstfield.nim
Owners: @araq

fix CI
  tests/overload/tgenericrangedisamb.nim
Owners: @araq

do method in #24611
  compiler/semexprs.nim
Owners: @araq

keep param pragmas in typed proc AST
  compiler/semtypes.nim
  tests/pragmas/tparamcustompragma.nim
Owners: @araq

add issue number to test
  tests/pragmas/tparamcustompragma.nim
Owners: @araq

fix CI
  compiler/semexprs.nim
Owners: @araq

cleanup
  compiler/concepts.nim
  compiler/sigmatch.nim
Owners: @araq

forgot something
  compiler/concepts.nim
Owners: @araq

ugh
  compiler/layeredtable.nim
Owners: @araq

init
  koch.nim
  tools/deps.nim
Owners: @araq

[skip ci] comments and whitespace
  compiler/semtypes.nim
  compiler/sigmatch.nim
  tests/concepts/tconceptsv2.nim
Owners: @araq

better
  koch.nim
  tools/deps.nim
Owners: @araq

whitespace
  koch.nim
  tools/deps.nim
Owners: @araq

undeprecates `var T` destrcutors
  compiler/semstmts.nim
  doc/destructors.md
Owners: @araq

test mingw 14.2 on Windows
  ci/funs.sh
Owners: @araq

fixes
  ci/funs.sh
Owners: @araq

always skip static types for result of `typeof`
  compiler/semmagic.nim
  compiler/semtypes.nim
  tests/generics/ttypeofstatic.nim
Owners: @araq

start using Nim compiler 2.0.15 on windows builds
  config/build_config.txt
Owners: @araq

adds a test case for #12340
  tests/collections/tseq.nim
Owners: @GULPF

disable `refc` for tmarshal
  tests/stdlib/tmarshal.nim
Owners: @araq

fixes #24720; std lib iterators unnecessarily require value copies
  lib/pure/collections/tables.nim
  tests/arc/t24720.nim
Owners: @GULPF, @araq

fixes #24721; Table add missing sink
  lib/pure/collections/tableimpl.nim
  lib/pure/collections/tables.nim
Owners: @GULPF

fixes #24721; Table add missing sink
  lib/pure/collections/tableimpl.nim
  lib/pure/collections/tables.nim
Owners: @GULPF

fixes #24725; Invalid =sink generated for pure inheritable object
  compiler/ccgtypes.nim
  compiler/liftdestructors.nim
  compiler/types.nim
  tests/ccgbugs/tcgbug.nim
Owners: @araq

sink tuples by values
  compiler/ccgutils.nim
Owners: @araq

Improve bash completion support (#24692)
  tools/nim.bash-completion
  tools/nimgrep.bash-completion
  tools/nimpretty.bash-completion
  tools/nimsuggest.bash-completion
Owners: @araq

convert tuple constructors from VM back to original types (#24710)
  compiler/semexprs.nim
  tests/tuples/tconstfield.nim
Owners: @araq

don't try to infer array range to unresolved range (#24709)
  compiler/sigmatch.nim
  tests/overload/tgenericrangedisamb.nim
Owners: @araq

Apply suggestions from code review
  compiler/concepts.nim
  compiler/types.nim
Owners: @araq

[skip ci] docs draft
  doc/manual.md
Owners: @araq

move nim version in issue template to the top
  .github/ISSUE_TEMPLATE/bug_report.yml
Owners: @araq

.github/CODEOWNERS:

# github CODEOWNERS file
# syntax: https://help.github.com/articles/about-codeowners/
# related discussion: [how to increase velocity for merging PRs? - Nim forum](https://forum.nim-lang.org/t/4285)
#
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence to determine who will be requested for review for a PR.
#
# Note: This list is incomplete, in doubt @dom96 is responsible for the standard
# library, @araq is responsible for the compiler.

## global
* @araq

## Compiler

## Standard library
*async* @dom96
*strutils* @araq
*sequtils* @dom96 @araq
*times* @GULPF

os.nim @dom96 @araq
ospaths.nim @dom96 @araq
re.nim @araq
nre.nim @flaviu

math.nim @krux02 @cooldome
fenv.nim @krux02 @cooldome

collections @GULPF
*json*.nim @dom96
*parseopt* @araq

###################################################
## informal entries not easily mapped to CODEOWNERS

## Compiler

#Renderer:                       @cooldome, @araq
#Parsing, Lexing:                @araq
#Order of passes:                @cooldome
#Semantic Checking:              @araq
#Virtual machine:                @jangko @GULPF @araq
#Sempass2: effects tracking:     @cooldome @araq
#type system, concepts:          @zahary
#transf:                         @cooldome @araq
#semfold constant folding:       @araq
#template instantiation:         @zahary @araq
#term rewriting macros:          @cooldome @araq
#closure interators:             @yglukhov @araq
#lambda lifting:                 @yglukhov @araq
#c, cpp codegen:                 @lemonboy @araq
#js codegen:                     @yglukhov @lemonboy
#alias analysis:                 @araq
#dfa, writetracking:             @araq
#parallel, multithreading:       @araq
#incremental:                    @araq
#sizeof computations:            @krux02
#Exception handling:             @cooldome @araq

## Standard library

# io: @dom96
# garbage collector: @araq
# Go garbage collector: @stefantalpalaru
# coroutines:  @rokups
