Repository Araq/Nim, changes with the owners that .github/CODEOWNERS names for each.
All owners: @araq, @dom96, @GULPF, @flaviu, @krux02, @cooldome

.github/CODEOWNERS:

# github CODEOWNERS file
# syntax: https://help.github.com/articles/about-codeowners/
# related discussion: [how to increase velocity for merging PRs? - Nim forum](https://forum.nim-lang.org/t/4285)
#
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence to determine who will be requested for review for a PR.
#
# Note: This list is incomplete, in doubt @dom96 is responsible for the standard
# library, @araq is responsible for the compiler.

## global
* @araq

## Compiler

## Standard library
*async* @dom96
*strutils* @araq
*sequtils* @dom96 @araq
*times* @GULPF

os.nim @dom96 @araq
ospaths.nim @dom96 @araq
re.nim @araq
nre.nim @flaviu

math.nim @krux02 @cooldome
fenv.nim @krux02 @cooldome

collections @GULPF
*json*.nim @dom96
*parseopt* @araq

###################################################
## informal entries not easily mapped to CODEOWNERS

## Compiler

#Renderer:                       @cooldome, @araq
#Parsing, Lexing:                @araq
#Order of passes:                @cooldome
#Semantic Checking:              @araq
#Virtual machine:                @jangko @GULPF @araq
#Sempass2: effects tracking:     @cooldome @araq
#type system, concepts:          @zahary
#transf:                         @cooldome @araq
#semfold constant folding:       @araq
#template instantiation:         @zahary @araq
#term rewriting macros:          @cooldome @araq
#closure interators:             @yglukhov @araq
#lambda lifting:                 @yglukhov @araq
#c, cpp codegen:                 @lemonboy @araq
#js codegen:                     @yglukhov @lemonboy
#alias analysis:                 @araq
#dfa, writetracking:             @araq
#parallel, multithreading:       @araq
#incremental:                    @araq
#sizeof computations:            @krux02
#Exception handling:             @cooldome @araq

## Standard library

# io: @dom96
# garbage collector: @araq
# Go garbage collector: @stefantalpalaru
# coroutines:  @rokups

wip
  tests/async/t23212.nim
Owners: @dom96

fix test
  tests/async/t23212.nim
Owners: @dom96

wip
  lib/pure/asyncmacro.nim
Owners: @dom96

fix tasyncleak output
  tests/arc/tasyncleak.nim
Owners: @dom96

avoid creating a closure if there are no future vars
  lib/pure/asyncmacro.nim
Owners: @dom96

fix tasyncleak output again
  tests/arc/tasyncleak.nim
Owners: @dom96

Add test case
  tests/objects/mobjconstr_msgs.nim
  tests/objects/tobjconstr_msgs.nim
Owners: @araq

Make the error point to the actual field instead of the whole object
  compiler/semobjconstr.nim
  tests/objects/tobjconstr_msgs.nim
Owners: @araq

Add fix for 'initialized twice' error pointing to the colon and not the field
  compiler/semobjconstr.nim
  tests/objects/tobjconstr_msgs.nim
Owners: @araq

fix jsonutils with generic sandwiches, don't use strformat
  lib/std/jsonutils.nim
  tests/stdlib/mjsonutilssandwich.nim
  tests/stdlib/tjsonutilssandwich.nim
Owners: @dom96

fixes #24536; fixes nightlies regression caused by nimble update (#24542)
  koch.nim
  tools/deps.nim
Owners: @araq

remove zippy data from tarballs (#24551)
  koch.nim
Owners: @araq

bump NimVersion to 2.0.14
  lib/system/compilation.nim
Owners: @araq

adds a test case
  tests/refc/t18616.nim
  tests/refc/tsinkbug.nim
Owners: @araq

Improve async stacktraces
  lib/pure/asyncfutures.nim
  lib/pure/asyncmacro.nim
Owners: @dom96

wip
  lib/pure/asyncmacro.nim
Owners: @dom96

wip
  lib/pure/asyncfutures.nim
  tests/async/tasync_traceback.nim
Owners: @dom96

wip
  lib/pure/asyncfutures.nim
  tests/async/tasync_traceback2.nim
Owners: @dom96

interleave
  tests/async/tasync_traceback2.nim
Owners: @dom96

wip
  lib/pure/asyncfutures.nim
Owners: @dom96

wip
  lib/pure/asyncfutures.nim
Owners: @dom96

Add inline assembler tests for i386, arm, arm64, riscv32 and riscv64
  tests/compiler/tasm.nim
Owners: @araq

adds a test case
  tests/generics/tgeneric0.nim
Owners: @araq

Make the error point to the variable in the user code
  lib/pure/strscans.nim
  tests/stdlib/tstrscans_errs.nim
Owners: @araq

Make sure the variables are initialised to remove Uninit warning
  lib/pure/strscans.nim
Owners: @araq

Make the result be sticky again
  doc/nimdoc.css
Owners: @araq

Make the `/` hotkey jump to the search box
  tools/dochack/dochack.nim
Owners: @araq

Hide search results when we jump to an item in the page
  tools/dochack/dochack.nim
Owners: @araq

Rerun search when focusing back on the search
  tools/dochack/dochack.nim
Owners: @araq

Fix up the expected file in test
  tests/stdlib/t8925.nim
Owners: @araq

Update tests
  nimdoc/testproject/expected/nimdoc.out.css
Owners: @araq

Add test case
  tests/misc/mrawjson.nim
  tests/misc/trunner.nim
Owners: @dom96, @araq

Start removing the renderer when raw switch is enabled
  compiler/docgen.nim
Owners: @araq

Basic system thats working
  compiler/docgen.nim
Owners: @araq

Add --raw switch
  compiler/commands.nim
  compiler/options.nim
Owners: @araq

Move the process for the raw check further into `genComment`. Means less edge cases from needing to handle it at the edges
  compiler/docgen.nim
  tests/misc/trunner.nim
Owners: @araq

Clean up code
  compiler/docgen.nim
Owners: @araq

Use the optional add overload
  compiler/docgen.nim
Owners: @araq

Introducing Nim Guru on Gurubase.io
  readme.md
Owners: @araq

`renderItemPre` handles dispatching for strings anyways
  compiler/docgen.nim
Owners: @araq
