Repository Araq/Nim, changes with the owners that .github/CODEOWNERS names for each.
All owners: @araq, @dom96, @GULPF, @flaviu, @krux02, @cooldome

Use the symbol line info in more cases
  compiler/importer.nim
  tests/import/tduplicate_imports.nim
  tests/tools/tunused_imports.nim
Owners: @araq

Fix test
  tests/msgs/tused2.nim
Owners: @araq

test case haul to prevent pileup
  tests/array/tgenericindex.nim
  tests/cpp/timportedtypecrash.nim
  tests/errmsgs/mambtype1.nim
  tests/errmsgs/mambtype2.nim
  tests/errmsgs/tambtype.nim
  tests/errmsgs/ttemplateaslambda.nim
  tests/generics/ttemplateparamcall.nim
  tests/generics/tuninstantiatedgenericcalls.nim
  tests/iter/tnestedclosures.nim
  tests/iter/tsubscript.nim
  tests/lexer/titerwrongexport.nim
  tests/macros/ttypedsymchoice.nim
  tests/overload/tsubtypegenericconstraint.nim
  tests/proc/msugarcrash1.nim
  tests/proc/tdefaultprocparam.nim
  tests/proc/tdefaultvalueconv.nim
  tests/proc/texplicitgenericconstraint.nim
  tests/proc/texplicitgenerics.nim
  tests/proc/tstaticsignature.nim
  tests/proc/tsugarcrash1.nim
  tests/proc/twrongdefaultvalue2.nim
  tests/range/tintypeclass.nim
  tests/specialops/tmismatch.nim
  tests/template/mdotcall.nim
  tests/template/tdotcall.nim
  tests/template/tlambdaparam.nim
  tests/vm/tconstarrayresem2.nim
Owners: @araq

fixes #24504; fixes `ensureMove` for refs (#24505)
  compiler/injectdestructors.nim
  tests/destructor/tnewruntime_strutils.nim
Owners: @araq

bump NimVersion to 2.0.13
  lib/system/compilation.nim
Owners: @araq

fix bad tests
  tests/overload/tsubtypegenericconstraint.nim
  tests/proc/tstaticsignature.nim
Owners: @araq

install older version of nimcuda for arraymancer (#24496)
  testament/important_packages.nim
Owners: @araq

fix nil node in sym ast of exported ref objects
  compiler/semstmts.nim
  tests/pragmas/tpostfixcustompragma.nim
Owners: @araq

Store line info alongside the symbol
  compiler/importer.nim
  compiler/sem.nim
  compiler/semdata.nim
  compiler/suggest.nim
Owners: @araq

Use the line info passed in
  lib/pure/strformat.nim
Owners: @araq

fixes #22153; UB calling allocCStringArray([""]) with --mm:refc
  lib/system.nim
  tests/objects/t20972.nim
Owners: @araq

fixes #22153; UB calling allocCStringArray([""]) with --mm:refc (#24529)
  lib/system.nim
  tests/objects/t20972.nim
Owners: @araq

fixes #22101; std/pegs with nim cpp --mm:orc --exceptions:goto creates invalid C++
  compiler/cgen.nim
  tests/cpp/tgotoeceptions.nim
Owners: @araq

improves
  compiler/cgen.nim
Owners: @araq

adds a test case
  tests/arc/tarcmisc.nim
Owners: @araq

fixes
  compiler/ccgcalls.nim
  compiler/cgen.nim
  tests/cpp/tgotoeceptions.nim
  tests/stdlib/tpegs.nim
Owners: @araq

Fix exitnow signature, mark as .noreturn
  lib/posix/posix.nim
Owners: @araq

adds a test case
  tests/ccgbugs/tccgissues.nim
Owners: @araq

deepCopy uses `out`
  compiler/sempass2.nim
  lib/system.nim
Owners: @araq

more strictdef fixes for stdlibs
  lib/pure/cstrutils.nim
  lib/pure/os.nim
  lib/pure/parsecfg.nim
  lib/pure/parseopt.nim
  lib/pure/parseutils.nim
  lib/pure/parsexml.nim
  lib/pure/pathnorm.nim
  lib/pure/random.nim
  lib/pure/ropes.nim
  lib/pure/stats.nim
  lib/pure/streams.nim
  lib/pure/strformat.nim
  lib/pure/strscans.nim
  lib/pure/strutils.nim
  lib/pure/times.nim
  lib/pure/typetraits.nim
  lib/pure/unicode.nim
  lib/pure/uri.nim
  lib/pure/xmlparser.nim
  lib/pure/xmltree.nim
  lib/std/private/strimpl.nim
Owners: @araq, @dom96, @GULPF

Bumps `nimble v0.16.4` (#24437)
  koch.nim
  testament/important_packages.nim
  tools/deps.nim
Owners: @araq

(cherry picked from commit 556f217b4cbebad0d8eabb1733fb1dcca46585ec)
  build_all.bat
  build_all.sh
  tools/ci_generate.nim
  tools/deps.nim
Owners: @araq

Use the same flags that NimNode renderer uses
  compiler/sem.nim
Owners: @araq

proper error for const defines with unsupported types [backport:2.0]
  compiler/semfold.nim
  compiler/semstmts.nim
  tests/errmsgs/twrongdefinetype.nim
Owners: @araq

issue number in test
  tests/errmsgs/twrongdefinetype.nim
Owners: @araq

for more compatibility, skip distinct types for non generic define
  compiler/semstmts.nim
Owners: @araq

fixes #24538
  lib/pure/asyncnet.nim
Owners: @dom96

Revert "(cherry picked from commit 556f217b4cbebad0d8eabb1733fb1dcca46585ec)"
  build_all.bat
  build_all.sh
  tools/ci_generate.nim
  tools/deps.nim
Owners: @araq

Revert "Bumps `nimble v0.16.4` (#24437)"
  koch.nim
  testament/important_packages.nim
  tools/deps.nim
Owners: @araq

fixes #23233; Regression when using generic type with Table/OrderedTable (#23235)
  compiler/types.nim
  tests/generics/tgeneric0.nim
Owners: @araq

fixes #18104; tranform one liner var decl before templates expansion (#23294)
  compiler/semstmts.nim
  tests/varstmt/tvardecl.nim
Owners: @araq

fixes #23295; don't expand constants for complex structures (#23297)
  compiler/trees.nim
  tests/objvariant/tconstobjvariant.nim
Owners: @araq

fixes 12381, HttpClient socket handle leak (#23575)
  lib/pure/net.nim
Owners: @araq

Check for nil in cstringArrayToSeq (#23747)
  lib/system.nim
Owners: @araq

Set type of object constructor during annotateType (#23852)
  compiler/semmacrosanity.nim
  tests/macros/t23547.nim
Owners: @araq

bypass constraints for tyFromExpr in generic bodies (#23863)
  compiler/sigmatch.nim
  tests/generics/tuninstantiatedgenericcalls.nim
Owners: @araq

include generic bodies in allowMetaTypes (#23968)
  compiler/semtypinst.nim
  tests/generics/t19848.nim
Owners: @araq

fix subscript magic giving unresolved generic param type (#23988)
  compiler/semcall.nim
  tests/overload/m19737.nim
  tests/overload/t19737.nim
Owners: @araq

fixes #24034; fixes lent types after taking implicit address (#24035)
  compiler/semexprs.nim
  tests/lent/tlent_from_var.nim
Owners: @araq

fix undeclared identifier in templates in generics (#24069)
  compiler/semgnrc.nim
  tests/generics/tnestedtemplate.nim
Owners: @araq

.github/CODEOWNERS:

# github CODEOWNERS file
# syntax: https://help.github.com/articles/about-codeowners/
# related discussion: [how to increase velocity for merging PRs? - Nim forum](https://forum.nim-lang.org/t/4285)
#
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence to determine who will be requested for review for a PR.
#
# Note: This list is incomplete, in doubt @dom96 is responsible for the standard
# library, @araq is responsible for the compiler.

## global
* @araq

## Compiler

## Standard library
*async* @dom96
*strutils* @araq
*sequtils* @dom96 @araq
*times* @GULPF

os.nim @dom96 @araq
ospaths.nim @dom96 @araq
re.nim @araq
nre.nim @flaviu

math.nim @krux02 @cooldome
fenv.nim @krux02 @cooldome

collections @GULPF
*json*.nim @dom96
*parseopt* @araq

###################################################
## informal entries not easily mapped to CODEOWNERS

## Compiler

#Renderer:                       @cooldome, @araq
#Parsing, Lexing:                @araq
#Order of passes:                @cooldome
#Semantic Checking:              @araq
#Virtual machine:                @jangko @GULPF @araq
#Sempass2: effects tracking:     @cooldome @araq
#type system, concepts:          @zahary
#transf:                         @cooldome @araq
#semfold constant folding:       @araq
#template instantiation:         @zahary @araq
#term rewriting macros:          @cooldome @araq
#closure interators:             @yglukhov @araq
#lambda lifting:                 @yglukhov @araq
#c, cpp codegen:                 @lemonboy @araq
#js codegen:                     @yglukhov @lemonboy
#alias analysis:                 @araq
#dfa, writetracking:             @araq
#parallel, multithreading:       @araq
#incremental:                    @araq
#sizeof computations:            @krux02
#Exception handling:             @cooldome @araq

## Standard library

# io: @dom96
# garbage collector: @araq
# Go garbage collector: @stefantalpalaru
# coroutines:  @rokups
