Repository Araq/Nim, changes with the owners that .github/CODEOWNERS names for each.
All owners: @araq, @dom96, @GULPF, @flaviu, @krux02, @cooldome

.github/CODEOWNERS:

# github CODEOWNERS file
# syntax: https://help.github.com/articles/about-codeowners/
# related discussion: [how to increase velocity for merging PRs? - Nim forum](https://forum.nim-lang.org/t/4285)
#
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence to determine who will be requested for review for a PR.
#
# Note: This list is incomplete, in doubt @dom96 is responsible for the standard
# library, @araq is responsible for the compiler.

## global
* @araq

## Compiler

## Standard library
*async* @dom96
*strutils* @araq
*sequtils* @dom96 @araq
*times* @GULPF

os.nim @dom96 @araq
ospaths.nim @dom96 @araq
re.nim @araq
nre.nim @flaviu

math.nim @krux02 @cooldome
fenv.nim @krux02 @cooldome

collections @GULPF
*json*.nim @dom96
*parseopt* @araq

###################################################
## informal entries not easily mapped to CODEOWNERS

## Compiler

#Renderer:                       @cooldome, @araq
#Parsing, Lexing:                @araq
#Order of passes:                @cooldome
#Semantic Checking:              @araq
#Virtual machine:                @jangko @GULPF @araq
#Sempass2: effects tracking:     @cooldome @araq
#type system, concepts:          @zahary
#transf:                         @cooldome @araq
#semfold constant folding:       @araq
#template instantiation:         @zahary @araq
#term rewriting macros:          @cooldome @araq
#closure interators:             @yglukhov @araq
#lambda lifting:                 @yglukhov @araq
#c, cpp codegen:                 @lemonboy @araq
#js codegen:                     @yglukhov @lemonboy
#alias analysis:                 @araq
#dfa, writetracking:             @araq
#parallel, multithreading:       @araq
#incremental:                    @araq
#sizeof computations:            @krux02
#Exception handling:             @cooldome @araq

## Standard library

# io: @dom96
# garbage collector: @araq
# Go garbage collector: @stefantalpalaru
# coroutines:  @rokups

progress
  compiler/semexprs.nim
Owners: @araq

fixes #24630; static openArray backed by seq cannot be passed to another function (#24638)
  compiler/vmgen.nim
  tests/vm/topenarrays.nim
Owners: @araq

don't try to transform objconstr/cast type nodes (#24636)
  compiler/transf.nim
  tests/template/tgenericobjconstr.nim
Owners: @araq

fixes #24623; fixes #23692; size pragma only allowed for imported types and enum types (#24640)
  compiler/semstmts.nim
Owners: @araq

fixes #24630; static openArray backed by seq cannot be passed to another function (#24638)
  compiler/vmgen.nim
  tests/vm/topenarrays.nim
Owners: @araq

fixes #24623; fixes #23692; size pragma only allowed for imported types and enum types (#24640)
  compiler/semstmts.nim
Owners: @araq

uses `topLevelScope`
  compiler/semexprs.nim
Owners: @araq

fixes #21923; nimsuggest "outline" output does not list templates
  compiler/sem.nim
  compiler/semstmts.nim
  compiler/semtempl.nim
  nimsuggest/tests/t21923.nim
Owners: @araq

fixes a test case
  nimsuggest/tests/tsug_template.nim
Owners: @araq

progress: skips the current routine scopes
  compiler/semexprs.nim
  tests/lexer/tcustom_numeric_literals.nim
  tests/stdlib/tmacros.nim
Owners: @araq

oops: use $file
  nimsuggest/tests/t21923.nim
Owners: @araq

Apply suggestions from code review
  compiler/semexprs.nim
Owners: @araq

fixes
  compiler/semexprs.nim
Owners: @araq

include sym name and owner in sigmatch symchoice error message
  compiler/sigmatch.nim
  tests/enum/tpure_enums_conflict.nim
  tests/enum/tpure_enums_conflict_legacy.nim
  tests/errmsgs/t5167_4.nim
  tests/errmsgs/tambparam.nim
  tests/errmsgs/tambparam_legacy.nim
  tests/errmsgs/tambtypegeneric.nim
  tests/lookups/tnicerrorforsymchoice.nim
Owners: @araq

add ambiguous identifier message to generic instantiations
  compiler/semtypes.nim
  tests/errmsgs/tambtypegeneric.nim
Owners: @araq

Correct nfds_t size on Android
  lib/posix/posix.nim
Owners: @araq

Fix parseBiggestUInt to detect overflow
  lib/pure/parseutils.nim
  tests/stdlib/tparseuints.nim
Owners: @araq

Update dom.nim
  lib/js/dom.nim
Owners: @araq

Apply suggestions from code review
  azure-pipelines.yml
Owners: @araq

fixes #21923; nimsuggest "outline" output does not list templates (#24643)
  compiler/sem.nim
  compiler/semstmts.nim
  compiler/semtempl.nim
  nimsuggest/tests/t21923.nim
  nimsuggest/tests/tsug_template.nim
Owners: @araq

Enable macros to use certain things from the OS module when the target OS is not supported (#24639)
  compiler/vmops.nim
  lib/pure/os.nim
  lib/std/cmdline.nim
  lib/std/private/oscommon.nim
  lib/std/private/osdirs.nim
  lib/std/private/osfiles.nim
  lib/std/private/ospaths2.nim
  lib/std/private/ossymlinks.nim
  lib/std/staticos.nim
Owners: @araq, @dom96

Fix parseBiggestUInt to detect overflow (#24649)
  lib/pure/parseutils.nim
  tests/stdlib/tparseuints.nim
Owners: @araq

Update dom.nim (removeEventListener function) (#24650)
  lib/js/dom.nim
Owners: @araq

Fix parseBiggestUInt to detect overflow (#24649)
  lib/pure/parseutils.nim
  tests/stdlib/tparseuints.nim
Owners: @araq

test macOS15
  azure-pipelines.yml
Owners: @araq

don't try to transform objconstr/cast type nodes (#24636)
  compiler/transf.nim
  tests/template/tgenericobjconstr.nim
Owners: @araq

install llvm
  azure-pipelines.yml
Owners: @araq

Fix check for Nintendo Switch target
  lib/pure/os.nim
Owners: @dom96, @araq

Fix check for Nintendo Switch target (#24652)
  lib/pure/os.nim
Owners: @dom96, @araq

doc(format): testament: row `--target` not splited as columns
  doc/testament.md
Owners: @araq

doc(format): testament: fix `Commands` not regarded as table
  doc/testament.md
Owners: @araq

feat(os): getHomeDir(username)
  lib/std/private/osappdirs.nim
Owners: @araq

feat(os): expandTilde supports "~bob". closes #24655
  lib/pure/os.nim
Owners: @dom96, @araq

fixup: expandTilde might raise unlisted KeyError
  lib/std/private/osappdirs.nim
Owners: @araq

don't mark captured field sym in template as fully used
  compiler/semtempl.nim
  tests/template/tfielduse.nim
Owners: @araq

fixup: getHomeDir(username): reallocShared may undefined
  lib/std/private/osappdirs.nim
Owners: @araq

don't mark captured field sym in template as fully used (#24660)
  compiler/semtempl.nim
  tests/template/tfielduse.nim
Owners: @araq

fix doc format: testament.md (#24654)
  doc/testament.md
Owners: @araq

don't mark captured field sym in template as fully used (#24660)
  compiler/semtempl.nim
  tests/template/tfielduse.nim
Owners: @araq

add ambiguous identifier message to generic instantiations (#24646)
  compiler/semtypes.nim
  tests/errmsgs/tambtypegeneric.nim
Owners: @araq
