Repository Araq/Nim, changes with the owners that .github/CODEOWNERS names for each.
All owners: @araq, @dom96, @GULPF, @flaviu, @krux02, @cooldome

.github/CODEOWNERS:

# github CODEOWNERS file
# syntax: https://help.github.com/articles/about-codeowners/
# related discussion: [how to increase velocity for merging PRs? - Nim forum](https://forum.nim-lang.org/t/4285)
#
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence to determine who will be requested for review for a PR.
#
# Note: This list is incomplete, in doubt @dom96 is responsible for the standard
# library, @araq is responsible for the compiler.

## global
* @araq

## Compiler

## Standard library
*async* @dom96
*strutils* @araq
*sequtils* @dom96 @araq
*times* @GULPF

os.nim @dom96 @araq
ospaths.nim @dom96 @araq
re.nim @araq
nre.nim @flaviu

math.nim @krux02 @cooldome
fenv.nim @krux02 @cooldome

collections @GULPF
*json*.nim @dom96
*parseopt* @araq

###################################################
## informal entries not easily mapped to CODEOWNERS

## Compiler

#Renderer:                       @cooldome, @araq
#Parsing, Lexing:                @araq
#Order of passes:                @cooldome
#Semantic Checking:              @araq
#Virtual machine:                @jangko @GULPF @araq
#Sempass2: effects tracking:     @cooldome @araq
#type system, concepts:          @zahary
#transf:                         @cooldome @araq
#semfold constant folding:       @araq
#template instantiation:         @zahary @araq
#term rewriting macros:          @cooldome @araq
#closure interators:             @yglukhov @araq
#lambda lifting:                 @yglukhov @araq
#c, cpp codegen:                 @lemonboy @araq
#js codegen:                     @yglukhov @lemonboy
#alias analysis:                 @araq
#dfa, writetracking:             @araq
#parallel, multithreading:       @araq
#incremental:                    @araq
#sizeof computations:            @krux02
#Exception handling:             @cooldome @araq

## Standard library

# io: @dom96
# garbage collector: @araq
# Go garbage collector: @stefantalpalaru
# coroutines:  @rokups

fixup: getHomeDir(username): deallocShared may undefined
  lib/std/private/osappdirs.nim
Owners: @araq

fixup: not compile on Windows
  lib/pure/os.nim
Owners: @dom96, @araq

doc(tempfiles): update link of getTempDir
  lib/std/tempfiles.nim
Owners: @araq

fixup: SC_GETPW_R_SIZE_MAX undefined on MacOS,freertos
  lib/std/private/osappdirs.nim
Owners: @araq

fixes #24658; cpp compilation failure on Nim 2.2.x
  compiler/semstmts.nim
Owners: @araq

adds a test case
  tests/cpp/tconstructor.nim
Owners: @araq

revert #7343
  compiler/semexprs.nim
Owners: @araq

doc(tempfiles): update link of getTempDir (#24661)
  lib/std/tempfiles.nim
Owners: @araq

fixes #24658; cpp compilation failure on Nim 2.2.x (#24663)
  compiler/semstmts.nim
  tests/cpp/tconstructor.nim
Owners: @araq

bump NimVersion to 2.2.2
  lib/system/compilation.nim
Owners: @araq

fixes #24666; Compliation error when formatting a complex number
  lib/pure/complex.nim
Owners: @araq

adds a test case
  tests/stdlib/tcomplex.nim
Owners: @araq

fixes #24666; Compilation error when formatting a complex number (#24667)
  lib/pure/complex.nim
  tests/stdlib/tcomplex.nim
Owners: @araq

fixes bugs on the Nim manual
  doc/manual.md
  tests/cpp/tmanual_exception.nim
Owners: @araq

fix array/set literals with generic expression elements
  compiler/semexprs.nim
  tests/proc/tgenericdefaultparam.nim
Owners: @araq

Update compiler/semexprs.nim
  compiler/semexprs.nim
Owners: @araq

also add tuples
  compiler/semexprs.nim
  tests/proc/tgenericdefaultparam.nim
Owners: @araq

add test for #24672
  tests/proc/tgenericdefaultparam.nim
Owners: @araq

track introduced locals in vmgen for eval check
  compiler/vmdef.nim
  compiler/vmgen.nim
  tests/vm/tconststaticvar.nim
  tests/vm/tconststaticvar_wrong.nim
Owners: @araq

reset locals before every gen, worked without this though
  compiler/vm.nim
Owners: @araq

add tests for #24633, #24634
  tests/vm/tconststaticvar2.nim
  tests/vm/tconststaticvar3.nim
Owners: @araq

feat(nimpretty): support formatting code from stdin
  nimpretty/nimpretty.nim
Owners: @araq

feat(nimpretty): support using '-' as stdin argument
  nimpretty/nimpretty.nim
Owners: @araq

refactor(nimpretty): move stdin handling to seperate proc
  nimpretty/nimpretty.nim
Owners: @araq

fixes #24677; rename macro varibles in nimbase.h to avoid conflicts
  compiler/ccgtypes.nim
  lib/nimbase.h
  tests/ccgbugs/tccgissues.nim
Owners: @araq

fixes #24673; divmod errors for ranges
  lib/pure/math.nim
  tests/stdlib/tmath.nim
Owners: @krux02, @cooldome, @araq

prefix with an underscore
  compiler/ccgtypes.nim
  lib/nimbase.h
Owners: @araq

adds `size: sizeof(cint)` to imported enums
  lib/pure/concurrency/atomics.nim
  tests/stdlib/concurrency/tatomics.nim
Owners: @araq

Apply suggestions from code review
  compiler/ccgtypes.nim
  lib/nimbase.h
Owners: @araq

always mangle local variables
  compiler/ccgtypes.nim
Owners: @araq

Apply suggestions from code review
  compiler/ccgtypes.nim
Owners: @araq

fixes bugs on the Nim manual (#24669)
  doc/manual.md
  tests/cpp/tmanual_exception.nim
Owners: @araq

Apply suggestions from code review
  compiler/ccgtypes.nim
Owners: @araq

Test ubuntu-22.04-arm
  .github/workflows/ci_packages.yml
Owners: @araq

fixes
  .github/workflows/ci_packages.yml
Owners: @araq

fixes #19728; setLen slow when shrinking seq due to zero-filling of released area
  lib/system/sysstr.nim
Owners: @araq

Explicit close stream after parseJson
  lib/pure/json.nim
Owners: @dom96

Only go for closing the stream if it's not nil, otherwise valgrind complains
  lib/pure/json.nim
Owners: @dom96

Clear newJObject() and newJArray() in case of bad parsing
  lib/pure/json.nim
Owners: @dom96

remove GC calls and just assign to nil
  lib/pure/json.nim
Owners: @dom96
